<div class="our-work-main-container" id="work-show-main-container">

    <div class="our-work-main-background">
        <div class="our-work-background" id="our-work-background"></div>
    </div>

    <div class="our-work-main-content">
        <div class="our-work-content-title page-title">{{client.title}}</div>
        <div class="our-work-top-bars">
            <div class="our-work-top-bars-left"></div>
            <div class="our-work-top-bars-right"></div>
        </div>
        <div class="our-work-content-intro" id="client-content-intro">
                <img class="our-work-logo" src="{{client.logoPath}}">
                <div class="our-work-intro-text intro-text"><p>{{client.intro}}</p></div>
        </div>
        <div class="our-work-stats-container" id="client-stats-container">
            <div class="our-work-stats-underlay"></div>
               <img class="our-work-stats-pic" src="{{client.stats}}">
        </div>
        <div class="our-work-video-container" id="client-video-container">
            <div class="our-work-stats-underlay"></div>
            <img  class="our-work-work-video-play" src="../../images/play-button.svg">
            <video  class="our-work-work-video" poster="../../images/our-work-customer-story2.jpg">

            </video>
        </div>
        <div class="our-work-work-title">
            <p>The Work</p>
        </div>

        <div class="our-work-work-pics" id="client-branding-container">
            <p class="our-work-work-pic-title">Branding</p>
            <img src="{{client.branding}}">
        </div>
        <div class="our-work-work-pics" id="main-branding-container">
            <img ng-repeat="brand in client.branding" src="{{brand.path}}">
        </div>
        <div class="our-work-work-pics" id="client-stationary-container">
            <p class="our-work-work-pic-title">Stationary</p>
            <img src="{{client.stationary}}">
        </div>
        <div class="our-work-work-pics" id="client-webdesign-container">
            <p class="our-work-work-pic-title">Website Design</p>
            <img src="{{client.webDesign}}">
        </div>
        <div class="our-work-work-pics" id="beehive-webdesign-container">
            <p class="our-work-work-pic-title">Website Design</p>
            <img ng-repeat="path in client.webDesign" src="{{path.path}}">
        </div>
        <div class="our-work-work-pics" id="client-illustration-container">
            <p class="our-work-work-pic-title">Illustrations & Mockups</p>
            <img class="work-newspaper" ng-repeat="path in client.illustrations" src="{{path.path}}">
        </div>
        <div class="our-work-work-pics" id="client-digital-container">
            <p class="our-work-work-pic-title">Digital Ads</p>
            <img src="{{client.digitalAdds}}">
        </div>
        <div class="our-work-work-pics" id="ccbh-digital-container">
            <p class="our-work-work-pic-title">Digital Adds</p>
            <img ng-repeat="path in client.digitalAdds" src="{{path.path}}">
        </div>
        <div class="our-work-work-pics" id="client-brochures-container">
            <p class="our-work-work-pic-title">Brochures</p>
            <img src="{{client.brochures}}">
        </div>
        <div class="our-work-work-pics" id="client-posters-container">
            <p class="our-work-work-pic-title" id="posters-title">Posters</p>
            <img src="{{client.posters}}">
        </div>
        <div class="our-work-work-pics" id="client-postcards-container">
            <p class="our-work-work-pic-title">Postcards</p>
            <img src="{{client.postcards}}">
        </div>
        <div class="our-work-work-pics" id="client-dmail-container">
            <p class="our-work-work-pic-title">Direct Mail</p>
            <img src="{{client.directMail}}">
        </div>
        <div class="our-work-work-pics" id="client-newspaper-container">
            <p class="our-work-work-pic-title">Newspaper Adds</p>
            <img class="work-newspaper" ng-repeat="path in client.newspaper" src="{{path.path}}">
        </div>
        <div class="our-work-work-pics" id="rubys-newspaper-container">
            <p class="our-work-work-pic-title">Newspaper Adds</p>
            <img class="work-newspaper rubys-newspaper" ng-repeat="path in client.newspaper" src="{{path.path}}">
        </div>
        <div class="our-work-work-pics" id="us-newspaper-container">
            <p class="our-work-work-pic-title">Newspaper Adds</p>
            <img class="work-newspaper us-newspaper" ng-repeat="path in client.newspaper" src="{{path.path}}">
        </div>
        <div class="our-work-work-pics" id="client-billboard-container">
            <p class="our-work-work-pic-title">Billboard</p>
            <img src="{{client.billboards}}">
        </div>



    </div>

</div>

<get-started-dir></get-started-dir>