<div class="work-main-container">

    <div class="work-title"><p>work</p></div>

    <div class="work-content">
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
        <div class="work-content-item">
            <img src="../../images/work-tds.png">
        </div>
    </div>

</div>