<div class="main-container">
  <img src="../../images/work-backgrounds/relic6.jpg" class="tech-background" id="tecch-background">
  <div class="page-main-content">
    <h1 class="page-title">Work</h1>
    <div class="flex-grid">
      <a class="flex-item-25" href="/#!/work/tds">
        <div  ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-tds.jpg" class="image-overlay">
          <img src="../../images/work-tds2.png" class="image-underlay">
        </div>
      </a>
      <a class="flex-item-25" href="/#!/work/garfield">
        <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-garfield.jpg" class="image-overlay" >
          <img src="../../images/work-garfield2.png" class="image-underlay">
        </div>
      </a>
      <a class="flex-item-25" href="/#!/work/tuacahn">
        <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-tuacahn.jpg" class="image-overlay">
          <img src="../../images/work-tuacahn2.png" class="image-underlay">
        </div>
      </a>
      <a class="flex-item-25" href="/#!/work/uintah">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
              <img src="../../images/work-uintah.jpg" class="image-overlay">
              <img src="../../images/work-uintah2.png" class="image-underlay">
          </div>
      </a>
      <a class="flex-item-25" href="/#!/work/uvhba">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
              <img src="../../images/work-uvhba.jpg" class="image-overlay">
              <img src="../../images/work-uvhba2.png" class="image-underlay">
          </div>
      </a>
      <a class="flex-item-25" href="/#!/work/maxxsouth">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
              <img src="../../images/work-maxx.jpg" class="image-overlay">
              <img src="../../images/work-maxxsouth2.png" class="image-underlay">
          </div>
      </a>
      <a class="flex-item-25" href="/#!/work/zerorez">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-zerorez.jpg" class="image-overlay">
          <img src="../../images/work-zerorez2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/workfront">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-workfront.jpg" class="image-overlay">
          <img src="../../images/work-workfront2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/us">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-utahshakespeare.jpg" class="image-overlay">
          <img src="../../images/work-utahshakespeare2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/brio">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-brio.jpg" class="image-overlay">
          <img src="../../images/work-brio2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/ccbh">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-ccbh.jpg" class="image-overlay">
          <img src="../../images/work-ccbh2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/beehive">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-beehive.jpg" class="image-overlay">
          <img src="../../images/work-beehive2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/rubys">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-rubysinn.jpg" class="image-overlay">
          <img src="../../images/work-rubysinn2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/creef">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-waynetourism.jpg" class="image-overlay">
          <img src="../../images/work-waynetourism2.png" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/bamboohr">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-bamboo.jpg" class="image-overlay">
          <img src="../../images/work-bamboo2.jpg" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/jive">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-jive.jpg" class="image-overlay">
          <img src="../../images/work-jive2.jpg" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25 flex-invisible" href="#">
        <div>
        </div>
      </a>
      <a class="flex-item-25" href="/#!/work/inmoment">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-inmoment.jpg" class="image-overlay">
          <img src="../../images/work-inmoment2.jpg" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25" href="/#!/work/numetric">
          <div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
          <img src="../../images/work-numetric.jpg" class="image-overlay">
          <img src="../../images/work-numetric2.jpg" class="image-underlay">
      </div>
      </a>
      <a class="flex-item-25 flex-invisible" href="#">
          <div>
          </div>
      </a>
    </div>
    <div class="cta-section">
      <p>Looking for advertising help?</p>
      <get-started-dir></get-started-dir>
    </div>
  </div>
</div>

