<div class="tds-main-container">

    <div class="tds-main-background">
        <div class="tds-background" id="tds-background"></div>
    </div>

    <div class="tds-main-content">
        <div class="tds-content-title page-title">{{client.title}}</div>
        <div class="tds-top-bars">
            <div class="tds-top-bars-left"></div>
            <div class="tds-top-bars-right"></div>
        </div>
        <div class="tds-content-intro" id="client-content-intro">
                <img class="tds-logo" src="{{client.logoPath}}">
                <div class="tds-intro-text intro-text"><p>{{client.intro}}</p></div>
        </div>
        <div class="tds-stats-container" id="client-stats-container">
            <div class="tds-stats-underlay"></div>
               <img class="tds-stats-pic" src="{{client.stats}}">
        </div>
        <div class="tds-video-container" id="client-video-container">
            <div class="tds-stats-underlay"></div>
            <img  class="tds-work-video-play" src="../../images/play-button.svg">
            <video  class="tds-work-video" poster="../../images/tds-customer-story2.jpg">

            </video>
        </div>
        <div class="tds-work-title">
            <p>The Work</p>
        </div>

        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Website Design</p>
            <img src="../../images/work-tds5.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Digital Ads</p>
            <img src="../../images/work-tds4.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Brochures</p>
            <img src="../../images/work-tds3.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Billboard</p>
            <img src="../../images/work-tds2.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Direct Mail</p>
            <img src="../../images/work-tds1.png">
        </div>



    </div>

</div>

<get-started-dir></get-started-dir>