<div class="work-main-container">

    <div class="work-title"><p>work</p></div>

    <div class="work-content">
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'tds'})">
                <img src="../../images/work-tds.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'bryce'})">
                <img src="../../images/work-garfield.jpg">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'tuac'})">
                <img src="../../images/work-tuacahn.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'uintah'})">
                <img src="../../images/work-uintah.jpg">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'uvhb'})">
                <img src="../../images/work-uvhba.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'maxx'})">
                <img src="../../images/work-maxx.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'moab'})">
                <img src="../../images/work-moabtourism.jpg">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'zerorez'})">
                <img src="../../images/work-zerorez.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'wfront'})">
                <img src="../../images/work-workfront.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'us'})">
                <img src="../../images/work-utahshakespeare.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'brio'})">
                <img src="../../images/work-brio.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'ccbh'})">
                <img src="../../images/work-ccbh.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'beehive'})">
                <img src="../../images/work-beehive.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'rubys'})">
                <img src="../../images/work-rubysinn.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'creef'})">
                <img src="../../images/work-waynetourism.jpg">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'b2scapes'})">
                <img src="../../images/work-b2landscapes.png">
            </a>
        </div>
        <div class="work-content-item">
            <a ui-sref="workShow({client: 'branding'})">
                <img src="../../images/work-branding.png">
            </a>
        </div>

    </div>

</div>