<div class="bamboo-main-container" id="bamboo-main-container">

    <img src="{{backgroundImage}}" class="bamboo-background" id="bamboo-background">

    <div class="bamboo-main-content">
        <div class="bamboo-content-title"><h1>BambooHR</h1></div>
        <div class="bamboo-work-title">
            <p>The Work</p>
        </div>

        <div class="bamboo-work-pics">
            <p class="bamboo-work-pic-title">Digital Ads</p>
            <img class="bamboo-work-image" src="../../images/work-assets/bamboo-one.png">
        </div>
        <div class="bamboo-work-pics">
            <img class="bamboo-work-image bamboo-work-image-brochure" src="../../images/work-assets/bamboo-two.png">
        </div>


    </div>

</div>

<div class="looking-for-help">

    <p>{{ctaText}}</p>

    <get-started-dir></get-started-dir>

</div>