<div class="home-main-container">
	<img src="../images/gold-elephant-back-2.png" class="home-background" id="home-background">
	<div class="home-hero" id="home-hero">
		<div class="headline-content">
			<h2>is your ad agency worth its weight in</h2>
			<h1>GOLD?</h1>
		</div>
	</div>
	<div class="emphasis-content">
		<i class="fa fa-angle-down" id="gold-arrow" aria-hidden="true"></i>
		<p class="find-out-why-relic">find out why relic is</p>
		<i class="fa fa-angle-down" id="gold-arrow" aria-hidden="true"></i>
	</div>
	<div class="video-area">
		<div class="video-content">
			<video width="100%" poster="./images/tds-customer-story2.jpg">
				<source type="video/mp4">
				<source type="video/ogg">
			</video>
		</div>
		<div class="video-content">
			<video width="100%" poster="./images/site-gfx_tuachan-vid-img.jpg">
				<source type="video/mp4">
				<source type="video/ogg">
			</video>
		</div>
	</div>
	<home-content-dir></home-content-dir>
	<div class="cta-section">
		<p>Looking for advertising help?</p>
		<get-started-dir></get-started-dir>
	</div>
</div>