<div class="main-container" id="inmoment-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">InMoment</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Landing Pages</p>
            <img class="inmoment-work-image" src="../../images/work-assets/inmoment-one.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-two.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-four.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-five.jpg">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-six.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-seven.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-eight.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/inmoment-three.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

