<div class="inmoment-main-container" id="inmoment-main-container">

    <img src="{{backgroundImage}}" class="inmoment-background" id="inmoment-background">

    <div class="inmoment-main-content">
        <div class="inmoment-content-title"><h1>InMoment</h1></div>
        <div class="inmoment-work-title">
            <p>The Work</p>
        </div>

        <div class="inmoment-work-pics">
            <p class="inmoment-work-pic-title">Digital Ads</p>
            <img class="inmoment-work-image" src="../../images/work-assets/inmoment-one.png">
        </div>
        <div class="inmoment-work-pics">
            <img class="inmoment-work-image inmoment-work-image-brochure" src="../../images/work-assets/inmoment-two.png">
        </div>


    </div>

</div>

<get-started-dir></get-started-dir>