<div class="main-container" id="numetric-main-container">
	<img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
	<div class="page-main-content">
		<h1 class="page-title">Numetric</h1>
		<p class="page-subtitle">The Work</p>
		<div class="page-content black-back">
			<p class="content-title">Landing Pages</p>
			<img class="full-width-pic" src="../../images/work-assets/numetric-one.png">
		</div>
		<div class="page-content black-back">
			<img class="full-width-pic" src="../../images/work-assets/numetric-two.png">
		</div>
		<div class="cta-section">
			<p>Looking for advertising help?</p>
			<get-started-dir></get-started-dir>
		</div>
	</div>
</div>