<div class="numetric-main-container" id="numetric-main-container">

    <img src="{{backgroundImage}}" class="numetric-background" id="numetric-background">

    <div class="numetric-main-content">
        <div class="numetric-content-title"><h1>Numetric</h1></div>
        <div class="numetric-work-title">
            <p>The Work</p>
        </div>

        <div class="numetric-work-pics">
            <p class="numetric-work-pic-title">Landing Pages</p>
            <img class="numetric-work-image" src="../../images/work-assets/numetric-one.png">
        </div>
        <div class="numetric-work-pics">
            <img class="numetric-work-image numetric-work-image-brochure" src="../../images/work-assets/numetric-two.png">
        </div>


    </div>

</div>

<div class="looking-for-help">

    <p>{{ctaText}}</p>

    <get-started-dir></get-started-dir>

</div>