<div class="main-container">
	<img src="../../images/tech.jpg" class="demandgen-background" id="demandgen-background">
	<div class="page-main-content">
		<h1 class="page-title">demand gen</h1>
		<div class="text-area-white" id="about-route-story">
			<div class="column-25">
				<h3 class="key-point">Industry Experts</h3>
			</div>
			<div class="column-75">
				<p>B2B demand generation is not a new concept, but it’s one that can be approached in new ways. Ultimately, demand gen is the process of collecting leads on new business. There are countless ways to approach demand generation. With big data, in-depth analytics tools and more resources at your fingertips, demand gen has never had a more direct correlation to your company’s bottom line than it does today. However, you can only contribute to that revenue stream once you have properly structured your marketing efforts around demand gen. Relic’s digital team has been perfect demand gen for a while, and we’ve even learned a thing or two along the way. So what do we do that makes us experts in demand gen? Oh boy, we’re glad you asked.</p>
			</div>
		</div>
		<div class="demand-gen-section">
			<div class="demand-gen-pic-container">
				<img src="../../images/engagebusiness.png">
			</div>

				<div class="page-content dark-back flex-item-50">
					<p class="gen-section-title">Foundation Five</p>
					<p>Demand gen is best described as the marriage between marketing programs and a structured sales process. Like any marriage, issues can often arise due to the lack of communication. Someone in marketing can have a different idea for the brand message than someone in sales, and the problems snowball from there. Your marketer accidentally leaves the brand message on the counter and the salesperson confronts the marketer because they KNOW that the brand message is supposed to be kept in the fridge. Eventually, the issues cause such a large divide that the interns are forced to choose sides in court, and that’s not fair to them. Think of the interns.</p>
					<p class="light-letters">So how do you unify the message to prevent that communicational disconnect? That’s what Relic is here for. Start by asking what we call the “Foundational Five” questions:</p>
					<div>
						<ol>
							<li><span class="gold-emphasis">1. </span> Who are you selling to?</li>
							<li><span class="gold-emphasis">2</span>. What are you selling?</li>
							<li><span class="gold-emphasis">3</span>. How do businesses buy?</li>
							<li><span class="gold-emphasis">4</span>. Who participates in buying?</li>
							<li><span class="gold-emphasis">5</span>. How are leads defined and measured?</li>
						</ol>
					</div>
					<p class="gen-section-info">By having companywide answers to these questions, the marketing, product and sales departments will be effective in
						engaging buyers.</p>
				</div>
			</div>
			<div class="demand-gen-section">
				<div class="demand-gen-pic-container">
					<img src="../../images/campaignprocess.png">
				</div>
				<div class="page-content dark-back flex-item-50">
					<p>So, you’ve identified your brand and campaign message and you’ve communicated it clearly throughout the company? Perfect,
						let’s move on.</p>
					<p>The next step is to share the unified brand message with your target audiences. If you look at the infographic below
						(or left or right or above or whatever), you’ll notice that everything we do revolves around the brand message. Relic’s
						team then puts the demand gen campaign through the following steps:</p>
					<ol style="padding-bottom: 24px;">
						<li><span class="gold-emphasis">1. <strong>Content/Offering</strong></span> Make like Usain Bolt and separate yourself from the competition, and maybe even give them a smug look along the way. Determine what your value proposition is selling.</li>
						<li><span class="gold-emphasis">2. <strong>Channel Delivery</strong></span> This step finds the best channels to share the brand message with the audience, whether that be direct mail, digital, email or anything else.</li>
						<li><span class="gold-emphasis">3. <strong>Web/Landing Pages</strong></span> Remember that unified message we talked about earlier? That applies to your website as well. Ensure that the website is consistent with the rest of your messaging.</li>
						<li><span class="gold-emphasis">4. <strong>Automation. </strong></span> Robots may be slowly taking over the world, but for now we’ll let this one do its job. By using technological tools and resources, automation will simplify and streamline the process of contacting those interested in the product or business.</li>
						<li><span class="gold-emphasis">5. <strong>Sales Enablement. </strong></span> Ensure that the sales team has all the necessary tools to be successful, whether that means updated tech, correct information or delicious snacks. Your team has to be able to do their job.</li>
						<li><span class="gold-emphasis">6. <strong>Analyze. </strong></span> Here’s where you measure the success of the entire campaign. Analyze what was successful and what was not, make the necessary adjustments and move forward with your plan of attack.</li>
					</ol>
					<p>The demand gen cycle is a continuous process that must be tweaked and improved. As time goes on, the process will never fully be complete, but it will always improve, like a fine wine. Or Angelina Jolie. </p>
				</div>
			</div>

			<div class="demand-gen-section">
				<div class="demand-gen-pic-container">
					<img src="../../images/salesfunnel.png">
				</div>
				<div class="page-content dark-back flex-item-50">
					<p>A prospective customer typically works through three phases before becoming a buyer. However, unlike the phases of the moon, your customers won’t turn to werewolves at the end (definitely a positive). Relic’s demand gen funnel takes a company through those three phases to convert potential customers into avid buyers. The three phases of the funnel are awareness, consideration and purchase.</p>
					<ul>
						<li><span class="gold-emphasis">1. <strong>Awareness. </strong></span>Generate a general awareness about the company. Put yourself in the back of your audience’s minds so that the next time they hear about you, they’re much more intrigued at the prospect of purchasing.</li>
						<li><span class="gold-emphasis">2. <strong>Consideration. </strong></span>This is where you demonstrate your value. The market has a need and your business has the solution to that need. Set yourself apart from the competition and show that you are the best option available.</li>
						<li><span class="gold-emphasis">3. <strong>Purchase. </strong></span>Potential customers have considered buying, but they need that last final push. Give them what they need to get over the edge and become a paying customer and keep them coming back.</li>
					</ul>
					<p>You may have noticed that this funnel could also potentially be good advice for dating. We’re not saying that Relic’s
						demand gen process will work in a relationship, but we’re also not saying it won’t.</p>
				</div>
			</div>
		<p class="page-subtitle">Demand Gen Clients</p>
		<div class="page-content dark-back">
			<div class="flex-grid">
				<a class="flex-item-25" href="/#!/work/workfront">
					<div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
						<img src="../../images/work-workfront.jpg" class="image-overlay">
						<img src="../../images/work-workfront2.png" class="image-underlay">
					</div>
				</a>
				<a class="flex-item-25" href="/#!/work/bamboohr">
					<div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
						<img src="../../images/work-bamboo.jpg" class="image-overlay">
						<img src="../../images/work-bamboo2.jpg" class="image-underlay">
					</div>
				</a>
				<a class="flex-item-25" href="/#!/work/jive">
					<div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
						<img src="../../images/work-jive.jpg" class="image-overlay">
						<img src="../../images/work-jive2.jpg" class="image-underlay">
					</div>
				</a>
				<a class="flex-item-25" href="/#!/work/inmoment">
					<div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
						<img src="../../images/work-inmoment.jpg" class="image-overlay">
						<img src="../../images/work-inmoment2.jpg" class="image-underlay">
					</div>
				</a>
				<a class="flex-item-25" href="/#!/work/numetric">
					<div ng-mouseover="workEnter()" ng-mouseleave="workLeave()">
						<img src="../../images/work-numetric.jpg" class="image-overlay">
						<img src="../../images/work-numetric2.jpg" class="image-underlay">
					</div>
				</a>
			</div>
		</div>
		<div class="cta-section">
			<p>Looking for demand gen help?</p>
			<get-started-dir></get-started-dir>
		</div>
	</div>
</div>