<div class="tds-main-container" id="tds-main-container">

        <img src="../../images/TDS-bckgrnd.jpg" class="tds-background" id="tds-background">

    <div class="tds-main-content">
        <div class="tds-content-title page-title"><h1>TDS</h1></div>
        <div class="tds-top-bars"></div>
        <div class="tds-content-intro">
                <img class="tds-logo" src="../../images/tds-logo.svg">
                <div class="tds-intro-text"><p>Our team started working with a company called Baja Broadband in 2012. They even named us as one of the top 5 reasons for their success. We worked on media, creative and digital services and became so ingrained and knowledgable about their company that we were asked to stay on when TDS Telecom bought the company in 2014. Relic was an instrumental part of the TDS rebrand in 2015.</p></div>
        </div>
        <div class="tds-stats-container">
            <div class="tds-stats-underlay"></div>
               <img class="tds-stats-pic" src="../../images/work-assets/tds-case.png">
        </div>
        <div class="tds-video-container">
            <div class="tds-stats-underlay"></div>
            <video  class="tds-work-video" poster="../../images/tds-vid-poster.jpg">

            </video>
        </div>
        <div class="tds-work-title">
            <p>The Work</p>
        </div>

        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Website Design</p>
            <img class="tds-work-image" src="../../images/work-assets/tds-site.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Digital Ads</p>
            <img class="tds-work-image tds-work-image-digital" src="../../images/work-assets/tds-digital.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Brochures</p>
            <img class="tds-work-image tds-work-image-brochure" src="../../images/work-assets/tds-brochure.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Direct Mail</p>
            <img class="tds-work-image" src="../../images/work-assets/tds-directMail.png">
        </div>
        <div class="tds-work-pics">
            <p class="tds-work-pic-title">Billboard</p>
            <img class="tds-work-image" src="../../images/work-assets/tds-billboard.png">
        </div>



    </div>

</div>

<get-started-dir></get-started-dir>