<div class="main-container" id="us-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Utah Shakespeare Festival</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Newspaper Ads</p>
            <img class="full-width-pic" src="../../images/work-assets/us-boeing.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/us-knights.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/us-love.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/us-mercy.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

