<div class="us-main-container" id="us-main-container">

    <img src="{{backgroundImage}}" class="us-background" id="us-background">

    <div class="us-main-content">
        <div class="us-content-title"><h1>Utah Shakespeare Festival</h1></div>
        <div class="us-top-bars"></div>
        <div class="us-work-title">
            <p>The Work</p>
        </div>

        <div class="us-work-pics">
            <p class="us-work-pic-title">Newspaper Adds</p>
            <img class="us-work-image" src="../../images/work-assets/us-boeing.png">
        </div>
        <div class="us-work-pics">
            <img class="us-work-image us-work-image-digital" src="../../images/work-assets/us-knights.png">
        </div>
        <div class="us-work-pics">
            <img class="us-work-image us-work-image-brochure" src="../../images/work-assets/us-love.png">
        </div>
        <div class="us-work-pics">
            <img class="us-work-image us-work-image-brochure" src="../../images/work-assets/us-mercy.png">
        </div>


    </div>

</div>

<get-started-dir></get-started-dir>