<div class="rubys-main-container" id="rubys-main-container">

    <img src="../../images/rubys-background.jpg" class="rubys-background" id="rubys-background">

    <div class="rubys-main-content">
        <div class="rubys-content-title"><h1>Ruby's Inn</h1></div>
        <!--<div class="rubys-top-bars">-->
        <!--<div class="rubys-top-bars-left"></div>-->
        <!--<div class="rubys-top-bars-right"></div>-->
        <!--</div>-->
        <div class="rubys-work-title">
            <p>The Work</p>
        </div>

        <div class="rubys-work-pics">
            <p class="rubys-work-pic-title">Newspaper Ads</p>
            <img class="rubys-work-image" src="../../images/work-assets/work-rubys1.png">
        </div>
        <div class="rubys-work-pics">
            <img class="rubys-work-image rubys-work-image-digital" src="../../images/work-assets/work-rubys2.png">
        </div>
        <div class="rubys-work-pics">
            <img class="rubys-work-image rubys-work-image-brochure" src="../../images/work-assets/work-rubys3.png">
        </div>

    </div>

</div>

<get-started-dir></get-started-dir>