<div class="b2-main-container" id="b2-main-container">

    <img src="../../images/b2-background.jpg" class="b2-background" id="b2-background">

    <div class="b2-main-content">
        <div class="b2-content-title"><h1>B2 Landscaping</h1></div>
        <!--<div class="b2-top-bars">-->
        <!--<div class="b2-top-bars-left"></div>-->
        <!--<div class="b2-top-bars-right"></div>-->
        <!--</div>-->

        <div class="b2-work-title">
            <p>The Work</p>
        </div>

        <div class="b2-work-pics">
            <p class="b2-work-pic-title">Brochure</p>
            <img class="b2-work-image" src="../../images/work-assets/work-b2-1.png">
        </div>
        <div class="b2-work-pics">
            <img class="b2-work-image b2-work-image-digital" src="../../images/work-assets/b2-brochure.png">
        </div>

    </div>

</div>

<get-started-dir></get-started-dir>