

        <div class="mobile-hamburger" ng-click="exitNav('dont')">

            <div class="hamburger-patty hamburger-one" id="hamburger-one"></div>
            <div class="hamburger-patty hamburger-two" id="hamburger-two"></div>
            <div class="hamburger-patty hamburger-three" id="hamburger-three"></div>

        </div>

    <div class="mobile-nav-popup" id="mobile-nav-popup">
        <div class="mobile-nav-section" id="mobile-nav-section-home">
            <h3 ui-sref="home" ng-click="exitNav('home')"><a href="/#!/home">home</a></h3>
        </div>
        <div class="mobile-nav-section" id="mobile-nav-section-expertise">
            <h3 ui-sref="expertise" ng-click="exitNav('expertise')"><a href="/#!/expertise">expertise</a></h3>
        </div>
        <div class="mobile-nav-section" id="mobile-nav-section-work">
            <h3 ui-sref="work" ng-click="exitNav('work')"><a href="/#!/work">work</a></h3>
        </div>
        <div class="mobile-nav-section" id="mobile-nav-section-about">
            <h3 ui-sref="about" ng-click="exitNav('about')"><a href="/#!/about">about</a></h3>
        </div>
        <div class="mobile-nav-section" id="mobile-nav-section-services">
            <h3 ui-sref="services({num: 0})" ng-click="exitNav('services')"><a href="/#!/services">services</a></h3>
        </div>
        <div class="mobile-nav-section" id="mobile-nav-section-newsroom">
            <h3 ui-sref="newsroom" ng-click="exitNav('newsroom')"><a href="/#!/newsroom">newsroom</a></h3>
        </div>
        <div class="mobile-nav-section" id="mobile-nav-section-contact">
            <h3 ui-sref="contact" ng-click="exitNav('contact')"><a href="/#!/contact">contact</a></h3>
        </div>
    </div>

