<div class="main-container" id="ccbh-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Cedar City | Brian Head</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Digital Ads</p>
            <img class="full-width-pic" src="../../images/work-assets/work-ccbh1.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/work-ccbh2.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>
