<div class="main-container" id="uintah-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Uintah County Tourism</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Website Design</p>
            <img class="full-width-pic" src="../../images/work-assets/uintah-site.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Vern & Al Storybook</p>
            <img class="full-width-pic vern-al-storybook" src="../../images/work-assets/uintah-book.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Newspaper Ad</p>
            <img class="full-width-pic" src="../../images/work-assets/uintah-poster.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Postcards</p>
            <img class="full-width-pic" src="../../images/work-assets/uintah-postcard.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Illustrations</p>
            <img class="full-width-pic" src="../../images/work-assets/uintah-sketch.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>
