<div class="tourism-main-container">
    <div class="tourism-main-background">
        <div class="tourism-background" id="tourism-background"></div>
    </div>
    <!--<div class="tourism-main-backfill"></div>-->

    <div class="tourism-main-content">
        <div class="tourism-title page-title"><p>tourism</p></div>
        <div class="tourism-experts">
            <div class="tourism-experts-top">
                <div class="tourism-experts-top-left"></div>
                <div class="tourism-experts-top-right"></div>
            </div>

            <div class="tourism-industry-experts">
                <p class="industry-experts">industry<br>
                experts</p>
            </div>

            <div class="tourism-industry-info intro-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>

        </div>
        <div class="tourism-video">
            <div class="tourism-video-underlay"></div>
            <video class="tourism-tuac-video" poster="../../images/tuac-customer-story.jpg">

            </video>
            <div class="tourism-video-overlay"></div>
            <img class="tourism-video-play" src="../../images/play-button.svg">
        </div>
        <div class="tourism-clients-title">
            <p>tourism clients</p>
        </div>
        <div class="tourism-clients">
            <div class="tourism-clients-clients">
                <img class="tourism-work" src="../../images/work-ccbh.png">
                <img class="tourism-work" src="../../images/work-garfield.jpg">
                <img class="tourism-work" src="../../images/work-moabtourism.jpg">
                <img class="tourism-work" src="../../images/work-rubysinn.png">
                <img class="tourism-work" src="../../images/work-waynetourism.jpg">
                <img class="tourism-work" src="../../images/work-uintah.jpg">
                <img class="tourism-work" src="../../images/work-tuacahn.jpg">
                <img class="tourism-work" src="../../images/work-utahshakespeare.png">
            </div>
        </div>
        <div class="tourism-awards-title">
            <p>tourism awards</p>
        </div>
        <div class="tourism-awards">
            <div class="tourism-awards-awards">
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-one"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-two"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-three"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-four"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-five"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-six"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-seven"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
                <div class="tourism-award">
                    <div class="tourism-award-pic tourism-award-eight"></div>
                    <div class="tourism-award-title">
                        <p>Uintah County </p><br><p> Tourism</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<get-started-dir></get-started-dir>
