<div class="maxxsouth-main-container" id="maxxsouth-main-container">

    <img src="../../images/maxxsouth-background.jpg" class="maxxsouth-background" id="maxxsouth-background">

    <div class="maxxsouth-main-content">
        <div class="maxxsouth-content-title"><h1>MaxxSouth</h1></div>
        <!--<div class="maxxsouth-top-bars">-->
        <!--<div class="maxxsouth-top-bars-left"></div>-->
        <!--<div class="maxxsouth-top-bars-right"></div>-->
        <!--</div>-->
        <div class="maxxsouth-work-title">
            <p>The Work</p>
        </div>

        <div class="maxxsouth-work-pics">
            <p class="maxxsouth-work-pic-title">Website Design</p>
            <img class="maxxsouth-work-image" src="../../images/work-assets/maxx-site.png">
        </div>
        <div class="maxxsouth-work-pics">
            <p class="maxxsouth-work-pic-title">Newspaper Adds</p>
            <img class="maxxsouth-work-image maxxsouth-work-image-digital" src="../../images/work-assets/maxx-posters.png">
        </div>
        <div class="maxxsouth-work-pics">
            <img class="maxxsouth-work-image" src="../../images/work-assets/maxx-football.png">
        </div>
        <div class="maxxsouth-work-pics">
            <p class="maxxsouth-work-pic-title">Direct Mail</p>
            <img class="maxxsouth-work-image maxxsouth-work-image-brochure" src="../../images/work-assets/maxx-bigfoot.png">
        </div>
        <div class="maxxsouth-work-pics">
            <p class="maxxsouth-work-pic-title">Billboard</p>
            <img class="maxxsouth-work-image" src="../../images/work-assets/maxx-billboard.png">
        </div>


    </div>

</div>

<get-started-dir></get-started-dir>