<div class="main-container" id="maxxsouth-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">MaxxSouth</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Website Design</p>
            <img class="full-width-pic" src="../../images/work-assets/maxx-site.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Newspaper Ads</p>
            <img class="full-width-pic" src="../../images/work-assets/maxx-posters.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/maxx-football.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Direct Mail</p>
            <img class="full-width-pic" src="../../images/work-assets/maxx-bigfoot.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Billboard</p>
            <img class="full-width-pic" src="../../images/work-assets/maxx-billboard.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

