<div class="tech-main-container">

    <img src="../../images/tech.jpg" class="tech-background" id="tech-background">

    <div class="tech-main-content">
        <div class="tech-title"><p class="page-title">Tech</p></div>
        <div class="tech-experts">
            <div class="tech-experts-top">
                <div class="tech-experts-top-left"></div>
                <div class="tech-experts-top-right"></div>
            </div>

            <div class="tech-industry-experts">
                <h6>industry<br>
                    experts</h6>
            </div>

            <div class="tech-industry-info">
                <p>The tech world is flooded with countless products, services and options. We are living in a time when thousands of new tech products are being created every single day. In such a seemingly oversaturated market, it can be hard to distinguish yourself from the competition, but that’s what we’re here for. Relic’s team has the experience in tech that will allow help your company grow exponentially.</p> <br>
                <p>At Relic, we take pride in our ability to deliver real, measurable results on our campaigns. We don’t spout off empty statistics that appear good but are, in reality, meaningless. We save that for the baseball “experts.” Rather, our focus is on the client and the metrics that bring success specifically for your company. You know your customer base; we know the strategy to deliver your product. Our industry disrupting advertising techniques can take your business to the next level. Ever heard of a match made in heaven?</p>
            </div>

        </div>

        <div class="tech-clients-title">
            <p>tech clients</p>
        </div>
        <div class="tech-clients">

            <div class="tech-clients-content">
                <a href="/#!/work/workfront"><img class="tech-work" src="../../images/work-workfront.jpg"></a>
                <img class="tech-work" src="../../images/work-bamboo.jpg">
                <img class="tech-work" src="../../images/work-jive.jpg">
                <img class="tech-work" src="../../images/work-inmoment.jpg">
                <img class="tech-work" src="../../images/work-numetric.jpg">
            </div>

        </div>



    </div>

</div>

<div class="looking-for-help">

    <p>{{ctaText}}</p>

    <get-started-dir></get-started-dir>

</div>