.about-main-container {
  height: 216vh;
  width: 100%;
  background-color: #161616;
}

.about-background {
  position: absolute;
  width: 100%;
}

.about-main-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  display: flex;
  flex-direction: column;
}

.about-content-title {
  position: relative;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

.about-router {
  position: relative;
  width: 100%;
  height: 20vh;
}

.about-router-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
}

.about-router-story {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}
.about-router-story:hover {
  background-color: rgba(255,255,255,0.9);
}
.about-router--story:hover  i {
  margin-top: 50px;
  transition: 0.25s;
}

.story-router-pic {
  position: relative;
  height: 55%;
  width: 100%;
  margin-bottom: 35px;
  background-color: #242424;
}
.story-router-title {
  position: relative;
  text-transform: uppercase;
  font-size: 3vmin;
  color: #BD9A35;
}
.story-router-down {
  position: relative;
  margin-top: 13px;
  color: #BD9A35;
  font-size: 50px;
}

.about-router-leadership {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}
.about-router-leadership:hover {
  background-color: rgba(255,255,255,0.9);
}

.leadership-router-title {
  position: relative;
  text-transform: uppercase;
  font-size: 3vmin;
  color: #BD9A35;
}
.leadership-router-down {
  position: relative;
  margin-top: 13px;
  color: #BD9A35;
  font-size: 50px;
}

.about-route-title {
  position: relative;
  top: 0;
  width: 100%;
  height: 15vh;
  background-color: white;
  color: #BD9A35;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.about-routes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-route-leadership {
  position: relative;
  background-color: transparent;
  width: 100%;
  display: none;
}

.leadership-leader {
  position: relative;
  width: 100%;
  height: 175px;
  background-color: black;
  margin-top: 2px;
  cursor: pointer;
  color: black;
  overflow: hidden;
}

.leader-pic {
  position: absolute;
  top: 35px;
  left: 125px;
  height: 115px;
  width: 115px;
  border-radius: 50%;
}

.leader-name {
  position: absolute;
  top: 85px;
  left: 300px;
  transform: translate(0, -3px);
  color: white;
  font-size: 24px;
}

.leader-about {
  position: absolute;
  top: 130px;
  left: 300px;
  width: 921px;
  line-height: 43px;
  letter-spacing: 1px;
}

.about-route-story {
  position: relative;
  top: 0;
  width: 100%;
  height: 81vh;
  background-color: white;
}

.story-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12px;
  display: flex;
}
.story-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.story-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.our-story-title {
  position: absolute;
  top: 12%;
  right: 70%;
  font-size: 4vmin;
  text-transform: uppercase;
  color: #bd9a35;
  font-family: 'Rogan-Bold', sans-serif;
}
#our-story {
  font-family: 'Rogan-Bold', sans-serif;

}

.our-story-one {
  position: absolute;
  top: 13%;
  left: 40%;
  width: 44%;
  color: #161616;
  font-size: 2vmin;
}
.enter-relic {
  position: relative;

  left: 40%;
  font-size: 3vmin;
  text-transform: capitalize;
  color: #bd9a35
}
.our-story-two {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 576px;
}
.our-story-three {
  position: absolute;
  width: 576px;
  top: 67%;
  left: 40%;
}

#about-looking-for-help {
  height: 45vh;
}


