.about-main-container {
  height: 216vh;
  width: 100%;
  background-color: #161616;
}

.about-background {
  position: absolute;
  width: 100%;
}

.about-main-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  display: flex;
  flex-direction: column;
}

.about-content-title {
  position: relative;
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

.about-router {
  position: relative;
  width: 100%;
  height: 20vh;
}

.about-router-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,1);
}

.about-router-story {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
  background-color: rgba(255,255,255,1);
}

.story-router-pic {
  position: relative;
  height: 55%;
  width: 100%;
  margin-bottom: 35px;
  background-color: #242424;
}
.story-router-title {
  position: relative;
  text-transform: uppercase;
  font-size: 3vmin;
  color: #BD9A35;
}
.story-router-down {
  position: relative;
  color: #BD9A35;
  font-size: 4vmin;
}

.about-router-leadership {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
}

.leadership-router-title {
  position: relative;
  text-transform: uppercase;
  font-size: 3vmin;
  color: #BD9A35;
}
.leadership-router-down {
  position: relative;
  color: #BD9A35;
  font-size: 4vmin;
}

.about-route-title {
  position: relative;
  top: 0;
  width: 100%;
  height: 15vh;
  background-color: white;
  color: #BD9A35;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.about-routes {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-route-leadership {
  position: relative;
  background-color: transparent;
  width: 100%;
  display: none;
}

.leadership-leader {
  position: relative;
  width: 100%;
  height: 175px;
  background-color: white;
  border-top: 2px solid #f4f4f4;
  cursor: pointer;
  color: black;
  overflow: hidden;
}
#leader-adam {
  border-top: none;
}

.leader-pic {
  position: absolute;
  top: 35px;
  left: 1in;
  height: 115px;
  width: 115px;
  border-radius: 50%;
}

.leader-name {
  position: absolute;
  top: 87px;
  left: 3in;
  transform: translate(0, -50%);
  color: #bd9a35;
  font-size: 2.5vmin;
}

.leader-about {
  position: absolute;
  top: 1.5in;
  left: 3in;
  width: 62%;
  line-height: 34px;
  opacity: 0;
  color: black;
}

.about-route-story {
  position: relative;
  top: 0;
  width: 100%;
  height: 105vh;
  background-color: white;
}

.story-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12px;
  display: flex;
}
.story-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.story-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.our-story-title {
  position: absolute;
  top: 12%;
  right: 70%;
  font-size: 3vmin;
  text-transform: uppercase;
  color: #bd9a35;
  font-family: 'Rogan-SemiBold', sans-serif;
}
#our-story {
  font-family: 'Rogan-Bold', sans-serif;

}

.our-story-one {
  position: absolute;
  top: 13%;
  left: 40%;
  width: 44%;
  color: #161616;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 30px;
}
.enter-relic {
  font-size: 3vmin;
  text-transform: capitalize;
  color: #bd9a35;
}
.our-story-two {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 576px;
}
.our-story-three {
  position: absolute;
  width: 576px;
  top: 67%;
  left: 40%;
}

#about-looking-for-help {
  height: 45vh;
}


@media screen and (max-device-width: 1440px) {
  .about-route-story {
    position: relative;
    top: 0;
    width: 100%;
    height: 130vh;
    background-color: white;
  }
}

@media screen and (max-device-width: 1024px) {

  .about-route-story {
    position: relative;
    top: 0;
    width: 100%;
    height: 180vh;
    background-color: white;
  }

  .about-router {
    position: relative;
    width: 100%;
    height: 12vh;
  }

  .leader-about {
    position: absolute;
    top: 1.5in;
    left: 3in;
    width: 62%;
    line-height: 22px;
    opacity: 0;
    color: black;
  }

  .about-route-story {
    position: relative;
    top: 0;
    width: 100%;
    height: 160vh;
    background-color: white;
  }
}

@media screen and (max-device-width: 768px) {

  .about-main-container {
    height: 230vh;
    width: 100%;
    background-color: #161616;
  }

  .leader-about {
    position: absolute;
    top: 2in;
    left: 1in;
    width: 62%;
    line-height: 34px;
    opacity: 0;
    color: black;
  }

  .about-route-story {
    position: relative;
    top: 0;
    width: 100%;
    height: 157vh;
    background-color: white;
  }

  .leader-name {
    position: absolute;
    top: 87px;
    left: 3in;
    transform: translate(0, -50%);
    color: #bd9a35;
    font-size: 20px;
  }

}

@media screen and (max-device-width: 425px){

  .about-main-container {
    height: 400vh;
    width: 100%;
    background-color: #161616;
  }

  .about-router {
    position: relative;
    width: 100%;
    height: 14vh;
  }


  .story-router-title {
    position: relative;
    text-transform: uppercase;
    font-size: 5vmin;
    color: #BD9A35;
  }

  .leadership-router-title {
    position: relative;
    text-transform: uppercase;
    font-size: 5vmin;
    color: #BD9A35;
  }

  .leadership-leader {
    position: relative;
    width: 100%;
    height: 210px;
    background-color: white;
    border-top: 2px solid #f4f4f4;
    cursor: pointer;
    color: black;
    overflow: hidden;
  }

  .leader-pic {
    position: absolute;
    top: 30px;
    left: 50%;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    transform: translate(-50%);
  }

  .leader-name {
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #bd9a35;
    font-size: 20px;
  }

  .leader-about {
    position: absolute;
    top: 205px;
    left: 50%;
    width: 80%;
    line-height: 34px;
    opacity: 0;
    color: black;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .story-router-down {
    position: relative;
    margin-top: 0;
    color: #BD9A35;
    font-size: 5vmin;
  }

  .leadership-router-down {
    position: relative;
    margin-top: 0;
    color: #BD9A35;
    font-size: 5vmin;
  }

  .our-story-title {
    position: absolute;
    top: 5%;
    right: 64%;
    font-size: 4vmin;
    text-transform: uppercase;
    color: #bd9a35;
    font-family: 'Rogan-SemiBold', sans-serif;
  }

  .about-route-story {
    position: relative;
    top: 0;
    width: 100%;
    height: 16in;
    background-color: white;
  }

  .our-story-one {
    position: absolute;
    top: 9%;
    left: 11%;
    width: 75%;
    color: #161616;
    font-size: 4vmin;
    letter-spacing: 1px;
    line-height: 30px;
  }

  .enter-relic {
    font-size: 5vmin;
    text-transform: capitalize;
    color: #bd9a35;
  }

}

