

.contact-main-container {
  width: 100%;
  height: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-background {
  position: absolute;
  top: 0;
  left: 0;
 width: 100%;
  opacity: 0.4;
}

.contact-main-content {
  position: relative;
  height: 275vh;
  width: 90%;
  background-color: transparent;
  top: 12vh;
}

.contact-main-title {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: xx-large;
}

.contact-top-bars {
  position: relative;
  width: 100%;
  height: 14px;
  display: flex;
  flex-direction: row;
}
.top-bar-left {
  height: 100%;
  width: 25%;
  background-color: #BD9A35;
}
.top-bar-right {
  height: 100%;
  width: 75%;
  background-color: #CCCCCC;
}

.contact-form-container {
  position: relative;
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.get-started {
  position: absolute;
  top: 9%;
  right: 75%;
  color: #BD9A35;
  font-size: x-large;
  text-transform: uppercase;
}

.get-started-intro {
  position: absolute;
  top: 9%;
  left: 30%;
  width: 60%;
  font-size: 2vmin;
  color: #161616;
  letter-spacing: 1px;
  line-height: 35px;
}

.contact-form {
  position: absolute;
  left: 30%;
  top: 21%;
  height: 75%;
  width: 60%;
}

.contact-form-message {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #bd9a35;
  font-family: 'Rogan-Medium', sans-serif;
  font-size: 6vmin;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.contact-form-message p{
  width: 30%;
}
.form-status-exit {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.contact-input {
  color: #727272;
  background-color: #efefef;
  border: none;
  outline: none;
  margin-bottom: 15px;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2vmin;
  letter-spacing: 1px;
  font-family: Rogan-Regular, sans-serif;
  padding-left: 15px;
}
.contact-input:focus {
  outline: none;
}
.google-captcha {
  border: none;
  outline: none;
  margin-bottom: 15px;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-map-container {
  position: relative;
  height: 55vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-button {
  color: white;
  background-color: #bd9a35;
  border: none;
  outline: none;
  margin-bottom: 15px;
  height: 7%;
  width: 101.5%;
  text-align: center;
  font-size: 5vmin;
  font-family: Rogan-Medium, sans-serif;
  padding-left: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.contact-relic-info {
  position: relative;
  height: 100%;
  width: 30%;
  background-color: black;
  opacity: 0.7;
  color: white;
}
.contact-map {
  position: relative;
  height: 100%;
  width: 70%;
}

.relic-address-logo {
  width: 60%;
  position: absolute;
  bottom: 70%;
  left: 27%;
}
.underneath-relic {
  position: absolute;
  top: 34%;
  right: 22%;
  height: 2px;
  width: 50px;
  background-color: #BD9A35;
}
.relic-address {
  text-transform: uppercase;
  color: white;
  text-align: right;
  position: absolute;
  top: 39%;
  right: 22%;
}
.address-provo {
  color: white;
  text-transform: uppercase;
  font-size: large;
  font-weight: 700;
}


@media screen and (max-width: 768px) {

  .get-started {
    position: absolute;
    top: 3%;
    left: 15%;
    right: auto;
    color: #BD9A35;
    font-size: x-large;
    text-transform: uppercase;
  }

.top-bar-left {
    height: 100%;
    width: 15%;
    background-color: #BD9A35;
  }

  .top-bar-right {
    height: 100%;
    width: 85%;
    background-color: #CCCCCC;
  }

  .contact-form {
    position: absolute;
    left: 15%;
    top: 9%;
    height: 75%;
    width: 67%;
  }

}

@media screen and (max-width: 425px){

  .contact-main-content {
    position: relative;
    height: 600vh;
    width: 90%;
    background-color: transparent;
    top: 12vh;
  }

  .contact-form-container {
    position: relative;
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .contact-form {
    position: absolute;
    left: 15%;
    top: 24%;
    height: 75%;
    width: 67%;
  }

  .get-started {
    position: absolute;
    top: 2%;
    left: 15%;
    right: auto;
    color: #BD9A35;
    font-size: x-large;
    text-transform: uppercase;
  }

  .get-started-intro {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 75%;
    color: #161616;
    letter-spacing: 1px;
    line-height: 35px;
    font-size: 4vmin;
  }

  .contact-input {
    color: #727272;
    background-color: #efefef;
    border: none;
    outline: none;
    margin-bottom: 15px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5vmin;
    padding-left: 15px;
  }

  .google-captcha {
    border: none;
    outline: none;
    margin-bottom: 15px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -35px;
  }

  .contact-map-container {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-relic-info {
      position: relative;
      height: 45vh;
      width: 100%;
      background-color: black;
      opacity: 0.7;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }

  .relic-address-logo {
    width: 60%;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .underneath-relic {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    height: 2px;
    width: 50px;
    background-color: #BD9A35;
  }

  .relic-address {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }


.contact-map {
    position: relative;
    overflow: hidden;
    height: 45vh;
    width: 100%;
  }

}
