.contact-form-message {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #bd9a35;
  font-family: 'Rogan-Medium', sans-serif;
  font-size: 6vmin;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.contact-form-message p{
  width: 30%;
}
.form-status-exit {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.google-captcha {
  transform:scale(0.85);
  -webkit-transform:scale(0.85);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

.contact-button {
  color: white;
  background-color: #bd9a35;
  border: none;
  outline: none;
  margin-bottom: 15px;
  height: 75px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: Rogan-Medium, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}


.map-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.contact-relic-info {
  position: relative;
  flex: 1 1 30%;
  background-color: black;
  opacity: 0.7;
  color: white;
  box-sizing: border-box;
  padding: 100px 50px;
  text-align: right;
}
.contact-map {
  position: relative;
  flex: 1 1 70%;
  height: 600px;
}

.relic-address-logo {
  max-width: 250px;
}
.underneath-relic {
  height: 2px;
  width: 100%;
  background-color: #BD9A35;
}
.relic-address {
  padding-top: 20px;
  text-transform: uppercase;
  color: white;
  text-align: right;
}
.relic-address p {
  padding-bottom: 24px;
}
.address-provo {
  color: white;
  text-transform: uppercase;
  font-size: large;
  font-weight: 700;
}

@media all and (max-width: 600px){
  .google-captcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
  .contact-relic-info, .contact-map {
    flex: 1 1 100%;
  }
  .contact-map {
    height: 500px;
  }
}

@media all and (max-width: 400px){
  .contact-map {
    height: 400px;
  }
}
