.creef-main-container {
  height: 623vh;
  width: 100%;
  background-color: #161616;
}

.creef-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.creef-main-content {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
}

.creef-content-title {
  height: 17vh;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Rogan-SemiBold', sans-serif;
}

.creef-content-intro {
  position: relative;
  height: 23vh;
  width: 100%;
  background-color: white;
}
.creef-logo {
  height: 103px;
  position: absolute;
  top: 21%;
  right: 75%;
}
.creef-intro-text {
  top: 50%;
  position: absolute;
  width: 65%;
  left: 50%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
  transform: translate(-50%, -50%);
  text-align: center;
}


.creef-work-title {
  position: relative;
  height: 12vh;
  background-color: white;
  color: #BD9A35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.creef-work-pics {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  border-bottom: 2px solid #161616;
}
.creef-work-pic-title {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2vmin;
  color: #727272;
}



@media screen and (max-device-width: 1440px) {

  .creef-logo {
    height: 8vmin;
    position: absolute;
    top: 21%;
    right: 75%;
  }

  .creef-content-intro {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: white;
  }

  .creef-stats-container {
    position: relative;
    height: 71vh;
    width: 100%;
  }


  .creef-stats-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 95%;
  }

  .creef-work-image {
    width: 75%;
  }

  .creef-branding-image {
    width: 65%;
  }
}

//this is to get ipad pro under control
@media screen and (max-device-width: 1024px) and (max-device-height: 1366px) {

  .creef-main-content {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .creef-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }

  .creef-content-title {
    height: 12vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }



}

@media screen and (max-device-width: 1024px) {

  .creef-main-container {
    height: 513vh;
    width: 100%;
    background-color: #161616;
  }

  .creef-main-content {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .creef-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }
  .creef-video-container {
    position: relative;
    height: 45vh;
    width: 100%;
  }
  .creef-work-pics {
    position: relative;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.8);
    border-bottom: 2px solid #161616;
  }
  .creef-work-image {
    width: 100%;
  }
  .creef-branding-image {
    width: 80%;
  }
  .creef-work-image-digital {
    width: 105%;
  }
  .creef-work-image-brochure {
    width: 105%;
  }

}


@media screen and (max-device-width: 768px) {

  .creef-main-container {
    height: 502vh;
    width: 100%;
    background-color: #161616;
  }

  .creef-main-content {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .creef-content-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .creef-content-intro {
    position: relative;
    height: 65vh;
    width: 100%;
    background-color: white;
  }

  .creef-logo {
    height: 11vmin;
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translate(50%, 0);
  }

  .creef-intro-text {
    top: 40%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 3vmin;
  }

  .creef-stats-container {
    position: relative;
    height: 32vh;
    width: 100%;
  }

  .creef-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }

  .creef-video-container {
    position: relative;
    height: 28vh;
    width: 100%;
  }

  .creef-branding-image {
    width: 80%;
  }

}

@media screen and (max-device-width: 425px) {

  .creef-main-container {
    height: 111vh;
    width: 100%;
    background-color: #161616;
  }

  .creef-content-title {
    font-size: 5vmin;
  }

  .creef-content-intro {
    position: relative;
    height: 112vh;
    width: 100%;
    background-color: white;
  }

  .creef-intro-text {
    top: 6%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 6vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }

  .creef-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }

  .creef-work-pics {
    position: relative;
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    border-bottom: 2px solid #161616;
  }

  .creef-branding-image {
    width: 80%;
  }

}

@media screen and (max-device-width: 320px) {

  .creef-content-intro {
    position: relative;
    height: 130vh;
    width: 100%;
    background-color: white;
  }

  .creef-branding-image {
    width: 80%;
  }

}