.expertise-container {
  position: relative;
  width: 52vw;
}

.expertise-content {
  position: relative;
  width: 24vw;
  height: 24vw;
  background-color: rgba(225, 225, 225, 0.9);
  cursor: pointer;
  transition-duration: .15s;
  text-align: center;
  margin: 1vw;
  float: left;
}
.expertise-content p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expertise-content:hover {
  background-color: rgba(255, 255, 255, 1);
}
