.expertise-backdrop {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
.expertise-item {
  position: relative;
  background-color: rgba(180, 180, 180, 1);
  margin: 10px;
  width: 27vw;
  height: 27vw;
  transition: 0.2s;
}
.expertise-item p {
  color: #777;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.expertise-item:hover {
  background-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 650px){
  .expertise-item {
    width: 45vw;
    height: 45vw;
  }
}