.footer-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: #161616;
  background-image: url('./images/Mask Group 11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px 0 25px 0;
}

.relic-e {
  position: absolute;
  height: 50px;
  left: 50px;
  cursor: pointer;
}

.footer-list{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 25px 25px 25px 150px;
}

.footer-list-content {
  font-family: 'Rogan-Regular', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
  text-transform: uppercase;
  color: #727272;
  letter-spacing: 2px;
  margin: 10px 10px 10px 10px;
}

.footer-list-content:hover {
  color: white;
}

.footer-social-icon {
  height: 35px;
  width: 35px;
  margin: -12px;
  z-index: 1;
}

.footer-social {
  position: relative;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px 25px 25px 25px;
}

.footer-social-content {
  box-sizing: border-box;
  padding: 5px;
  font-size: 13px;
  line-height: 34px;
  margin: 0 15px 0 15px;
  display: inline-block;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.5s;
}

