.garfield-main-container {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garfield-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.garfield-main-content {
  position: relative;
  height: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 0 0;
}

.garfield-content-title {
   height: 145px;
   display: flex;
   justify-content: center;
   font-size: 50px;
   color: white;
   letter-spacing: 4px;
   text-transform: uppercase;
   font-family: 'Rogan-SemiBold', sans-serif;
 }

.garfield-top-bars {
  position: relative;
  height: 15px;
  width: 100%;
  background-color: #D0D0D0;
}

.garfield-content-intro {
  position: relative;
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.garfield-intro-text {
  position: relative;
  width: 75%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
  margin: 45px 0 45px 0;
}

.garfield-stats-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.garfield-stats-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
}
.garfield-stats-pic {
  position: relative;
  width: 75vw;
  margin: 100px 0 100px 0;
}

.garfield-work-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.garfield-work-pics {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  border-bottom: 2px solid #161616;
}
.garfield-work-pic-title {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 18px;
  color: #727272;
}

.garfield-work-image {
  margin: 100px 0 100px 0;
  width: 85%;
}

@media screen and(max-width: 768px){

  .garfield-content-title {
    height: 145px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Rogan-SemiBold', sans-serif;
    text-align: center;
    margin: 0 0 75px 0;
  }

}
