.looking-for-help {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.looking-for-help p {
  font-size: large;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.get-started-button {
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #299bde;
  color: white;
  font-family: 'Rogan-Medium', sans-serif;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
}

.cta-pop-up {
  position: fixed;
  top: 0;
  left: -101%;
  height: 100%;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  z-index: 10;
}

.cta-pop-up-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 9%;
  width: 100%;
  background-color: #242424;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.get-started-logo-svg {
  width: 182px;
}

.cta-get-started-title {
  font-size: 3vmin;
  color: white;
  margin-left: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

.pop-up-outline-one {
  height: 2px;
  width: 0;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.pop-up-outline-two {
  width: 2px;
  height: 0;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

.pop-up-outline-three {
  height: 2px;
  width: 0;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.pop-up-outline-four {
  width: 2px;
  height: 0;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.pop-up-exit {
  position: absolute;
  cursor: pointer;
  right: -5px;
  top: -4px;
  height: 6vmin;
  width: 6vmin;
  z-index: 100;
  margin: 12px;
}

.pop-exit-bar-one {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 50%;
  right: 0;
  overflow: hidden;
  transform: rotate(45deg);
}

#get-started-animation-seven {
  left: 101%
}

.pop-exit-bar-two {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 50%;
  right: 0;
  overflow: hidden;
  transform: rotate(-45deg);
}

#get-started-animation-five {
  left: 101%;
}

.pop-exit-bar-three {
  position: absolute;
  bottom: 8px;
  left: 10px;
  height: 2px;
  width: 66%;
  overflow: hidden;
}

#get-started-animation-six {
  right: 101%;
}

.exit-inner-bar {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

.cta-pop-up-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 50%;
  background-color: rgba(0,0,0, 0.95);
}

.cta-contact-form-container {
  position: absolute;
  height: 70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .cta-get-started-button {
    left: -2%;
    height: 6vmin;
    width: 100%;
    border: none;
    background-color: #bd9a35;
    color: white;
    font-family: 'Rogan-Medium', sans-serif;
    cursor: pointer;
    font-size: 3vmin;
    outline: none;
    border-radius: 5px;
  }


.cta-contact-form {
  width: 100%;
  position: absolute;
  height: 100%;
}

.cta-contact-input {
  background-color: rgba(22, 22, 22, 0.5);
  border: none;
  outline: none;
  margin-bottom: 15px;
  height: 48px;
  width: 100%;
  font-size: 2vmin;
  padding-left: 15px;
  font-family: 'Rogan-Light', sans-serif;
  color: #727272;
}
.contact-input:focus {
  outline: none;
}

@media screen and (max-device-width: 850px) {

  .cta-pop-up-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .cta-pop-up-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.95);
  }

  .get-started-logo-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82px;
  }

  .cta-contact-form-container {
    position: absolute;
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0);
  }

  .cta-contact-input {
    background-color: #181818;
    border: none;
    outline: none;
    margin-bottom: 3%;
    height: 8%;
    width: 95%;
    font-size: 6vmin;
    padding-left: 15px;
    font-family: 'Rogan-Light', sans-serif;
    border-radius: 5px;
    color: #727272;
  }

  .cta-get-started-button {
    left: -2%;
    height: 13vmin;
    width: 100%;
    border: none;
    background-color: #bd9a35;
    color: white;
    font-family: 'Rogan-Medium', sans-serif;
    cursor: pointer;
    font-size: 7vmin;
    outline: none;
    border-radius: 5px;
  }

}