

.home-main-container {
  width: 100%;
  height: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.home-hero {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../images/gold-elephant2-min.png');
  background-repeat: no-repeat;
  background-size: 215%;
  background-position-x: 50%;
  background-position-y: -15vh;
}

.linear-gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #000000, transparent);
  opacity: 0.5;
}

.headline {
  position: relative;
  box-sizing: border-box;
  padding: 70px;
  height: 100vh;
  width: 100%;
  color: white;
}

//styling for the word Gold in the headline
.home-title-gold {
  font-family: Serif;
}

.headline-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container {
  position: relative;
  width: 100%;
  height: calc((100vw / 2) * 0.455559);
}

//this is the container for the down arrows and the 'find out why relic is'
.video-top-why {
  width: 100%;
  background-color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
//this is the content
.video-top-why-content {
  width: 292px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: #BD9A35;
}
.find-out-why-relic {
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#gold-arrow-down-left {
  font-size: x-large;
}
#gold-arrow-down-right {
  font-size: x-large;
}
//video container
.video-main-content {
  position: absolute;
  height: calc(100% - 35px);
  width: 100%;
}
.home-client-video-tds {
  position: absolute;
  width: calc(100vw / 2);
  right: 50%;
  top: 0;
}
.home-client-video-tuac {
  position: absolute;
  width: calc(100vw / 2);
  left: calc(50% - 1px);
  top: 0;
}

.home-video-play-icon {
  position: absolute;
  height: calc(100vh / 6);
  cursor: pointer;
  z-index: 2;
}



@media screen and (max-device-width: 1440px) {
  .home-hero {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../images/gold-elephant2-min.png');
    background-repeat: no-repeat;
    background-size: 203%;
    background-position-x: 50%;
    background-position-y: -10vh;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: calc((100vw / 2) * 0.469);
  }

}

@media screen and (max-device-width: 1024px) {
  .home-hero {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../images/gold-elephant2-min.png');
    background-repeat: no-repeat;
    background-size: 223%;
    background-position-x: 50%;
    background-position-y: -14vh;
  }
  .video-container {
    position: relative;
    width: 100%;
    height: calc((100vw / 2) * 0.49);
  }
}

@media screen and (max-device-width: 768px) {

  .headline-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .headline-content h2 {
    margin-bottom: 10px;
    line-height: 35px;
    padding-left: 87px;
    padding-right: 87px;
  }


  .home-hero {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../images/gold-elephant2-min.png');
    background-repeat: no-repeat;
    background-size: 430%;
    background-position-x: 50%;
    background-position-y: -15vh;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: calc((100vw / 2) * 0.51);
  }


}

@media screen and (max-device-width: 600px) {

  .video-container {
    position: relative;
    width: 100%;
    height: calc((100vw / 2) * 0.54);
  }

}

@media screen and (max-device-width: 425px) {

  .home-hero {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../images/gold-elephant2-min.png');
    background-repeat: no-repeat;
    background-size: 530%;
    background-position-x: 50%;
    background-position-y: -10vh;
  }

  .headline-content h2 {
    font-size: 6vmin;
  }
  .headline-content h1 {
    font-size: 10vmin;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 56vh
  }

  .video-main-content {
    position: absolute;
    height: calc(100% - 35px);
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .home-client-video-tds {
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
  }

  .home-client-video-tuac {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 20px solid #161616;
  }

}

@media screen and (max-device-width: 414px) {

  .video-container {
    position: relative;
    width: 100%;
    height: 54.5vh;
  }

}

@media screen and (max-device-width: 360px) {

  .video-container {
    position: relative;
    width: 100%;
    height: 59vh;
  }

}




