//styling for nav backdrop that will fade in on scroll down
.nav-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #161616;
  opacity: 0;
  z-index: 2;
}

.home-main-container {
  width: 100%;
  height: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}

.home-hero {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('../images/home-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.linear-gradient-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #000000, transparent);
  opacity: 0.5;
}

.headline {
  position: relative;
  box-sizing: border-box;
  padding: 70px;
  height: 100vh;
  width: 100%;
  color: white;
}

//styling for the word Gold in the headline
.home-title-gold {
  font-family: Serif;
}

.headline-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container {
  position: relative;
  width: 100%;
  height: 406px;
  //background-color: rgba(45, 45, 45, 0.7);
}

//this is the container for the down arrows and the 'find out why relic is'
.video-top-why {
  width: 100%;
  background-color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
//this is the content
.video-top-why-content {
  width: 292px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: #BD9A35;
}
.find-out-why-relic {
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#gold-arrow-down-left {
  font-size: x-large;
}
#gold-arrow-down-right {
  font-size: x-large;
}
//video container
.video-main-content {
  position: absolute;
  height: calc(100vh/2.5);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home-video {
  position: relative;
  height: calc(100% - 35px);
  width: 50%;
  overflow: hidden;
}
.home-video-play {
  position: absolute;
  top: 35%;
  left: 43%;
  transform: translate(-50%, -50%);
}
.home-client-video {
  position: absolute;
  width: 101%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home-video-play-icon {
  position: absolute;
  height: 125px;
  width: 125px;
}
//#video-controls{
//  position: absolute;
//  top: 92%;
//  left: 50%;
//  transform: translate(-50%);
//  transition-duration: .25S;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//#play-pause:hover {
//  color: #88714d;
//  cursor: pointer;
//}
//#mute{
//  cursor: pointer;
//  color: #88714d;
//}
//#mute:hover {
//  color: white;
//}
//
//#seek-bar{
//  color: #88714d;
//}
//#full-screen{
//  width: 20vw;
//  cursor: pointer;
//}
//#full-screen:hover {
//  color: #88714d;
//}
//input[type=range]::-webkit-slider-thumb {
//  -webkit-appearance: none;
//  background-image: url('http://www.wearetopsecret.com/images/arrow-tip-forward.png');
//  height: 20px;
//  width: 25px;
//  cursor: pointer;
//  //background-size: cover;
//  background-repeat: no-repeat;
//  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
//}
//
///* All the same stuff for Firefox */
//input[type=range]::-moz-range-thumb {
//  background-image: url('http://www.wearetopsecret.com/images/arrow-tip-forward.png');
//  height: 20px;
//  width: 25px;
//  background: #ffffff;
//  cursor: pointer;
//  background-repeat: no-repeat;
//  //background-size: cover;
//}
//
///* All the same stuff for IE */
//input[type=range]::-ms-thumb {
//  background-image: url('http://www.wearetopsecret.com/images/arrow-tip-forward.png');
//  height: 20px;
//  width: 25px;
//  cursor: pointer;
//  background-repeat: no-repeat;
//  //background-size: cover;
//}

.looking-for-help {
  position: relative;
  height: calc(100vh / 2.5);
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.looking-for-help p {
  font-size: large;
  letter-spacing: 2px;
   margin-bottom: 50px;
}

.get-started-button {
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #299bde;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}
