@media screen and (max-device-width: 1100px) {
  .home-hero {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../images/gold-elephant2-min.png');
    background-repeat: no-repeat;
    background-size: 203%;
    background-position-x: 50%;
    background-position-y: -50px;
  }
}