@media screen and (max-device-width: 425px) {

  .swn-container {
    position: relative;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
  }

  .swn-top-container {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
  }

  .swn-top-content {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    background-color: #161616;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
  }

  .swn-top-content p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }

  .swn-top-content i {
    position: absolute;
    bottom: 10px;
    color: #BD9A35;
    font-size: 7vmin;
  }

  .swn-bottom-container {
    position: relative;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
  }


  .services-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .services-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .services-content img {
    height: 60vw;
    width: 60vw;
  }

  .services-content-four img {
    height: 50vw;
    width: 50vw;
  }


  .clients-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .clients-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clients-content img {
    height: 60vw;
    width: 60vw;
    cursor: pointer;
  }

  .articles {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 95%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .articles-content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

.article-pic {
  height: 60vw;
  width: 60vw;
  cursor: pointer;
}

}
