.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.7;
}

.home-main-container {
  position: relative;
  width: 100%;
}

.home-hero {
  position: relative;
  height: 95vh;
  box-sizing: border-box;
  padding: 50px;
}

.linear-gradient-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #000000, transparent);
  opacity: 0.5;
}

.headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.headline-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    color: white;
    text-align: center;
    font-size: 120px;
    line-height: 120px;
    font-family: Serif, serif;
  }
  h2 {
    font-family: 'Rogan-SemiBold', sans-serif;
    letter-spacing: 6px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: calc((100vw / 2) * 0.455559);
}

.emphasis-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #BD9A35;
  box-sizing: border-box;
  padding: 6px;
  background: #fff;
}
.find-out-why-relic {
  font-family: 'Rogan-Extrabold', sans-serif;
  font-size: 24px;
  padding-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#gold-arrow{
  font-size: 30px;
  padding: 0 5px;
}
//video container
.video-area {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.video-content {
  flex: 1 1 50%;
}