@media screen and (max-device-width: 1100px) {

  nav {

    .nav-item {
      margin-left: 20px;
    }
    .nav-item-title {
      color: #95989a;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 1px;
      transition: 0.25s;
      font-size: 11px;
    }

    .cta-button-nav {
      outline: none;
      border: none;
      cursor: pointer;
      height: 30px;
      width: 130px;
      font-size: 12px;
    }
  }

}