@media screen and (max-device-width: 850px) {

  nav {

    .nav-items  {
      position: absolute;
      top: 50%;
      right: 2.5%;
      transform: translate(0, -50%);
      height: 100%;
      width: 60%;
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }

  }
}