.newsroom-main-container {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsroom-main-container a {
  text-decoration: none;
  color: white;
}

.newsroom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.newsroom-main-content {
  position: relative;
  height: auto;
  margin: 200px 0 100px 0;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.newsroom-content-title {
  position: relative;
  height: 165px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}

.newsroom-routes-container {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.routes-router {
  position: relative;
  width: 25%;
  height: 1000px;
}
.routes-underlay {
  position: absolute;
  top: 0;
  height: 40%;
  width: 100%;
  background-color: #95989a;
  opacity: 0.7;
  z-index: -1;
}
.press-underlay {
  position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.nr-routes-nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
.nr-route-nav {
  position: relative;
  width: 100%;
  height: calc(33.3% - 2px);
  margin-bottom: 2px;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
  font-size: 2.5vmin;
}
.blue-triangle-news {
  width: 18px;
  display: flex;
}
.blue-triangle-press {
  width: 18px;
  display: none;
}
.blue-triangle-awards {
  width: 18px;
  display: none;
}
.route-nav-news {
  background-color: rgba(255,255,255,0.8);
  color: #161616;
}
.route-nav-press {
  background-color: rgba(0,0,0,0.9);
  color: white;
}
.route-nav-awards {
  background-color: rgba(0,0,0,0.9);
  color: white;
}

.route-nav-title {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
}

.nr-press-contact {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.7);
}
.nr-press-contact-title {
  color: white;
  text-transform: capitalize;
  font-size: 3vmin;
  font-weight: 600;
}
.nr-adam-pic {
  height: 35%;
}
.nr-adam-stoker {
  color: #727272;
  font-size: 2.5vmin;
}
#nr-press-call {
  width: 65%;
  height: 10%;
  font-size: 2.5vmin;
  border: none;
  border-radius: 50px;
  background-color: #299bde;
  color: white;
  font-family: 'Rogan-Medium', sans-serif;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
}
#nr-press-email {
  width: 65%;
  height: 10%;
  font-size: 2.5vmin;
  border: none;
  border-radius: 50px;
  background-color: #299bde;
  color: white;
  font-family: 'Rogan-Medium', sans-serif;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
}

.newsroom-route {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.newsroom-route-title {
  position: absolute;
  top: 7%;
  left: 7%;
  text-transform: capitalize;
  color: #BD9A35;
  font-size: 30px;
  font-family: 'Rogan-Medium', sans-serif;
}


.routes-route {
  position: relative;
  height: auto;
  width: 75%;
  color: #727272;
  font-size: 5vmin;
}
.a-route {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  text-align: left;
}

.news-route {
  height: 1500px;
  background-color: white;
  display: none;
}

.press-releases-route {
  display: none;
  background-color: rgba(255,255,255,1);
}

.press-release {
  position: relative;
  margin: 30px 0 30px 10%;
  width: 70%;
}
.press-release-title {
  font-size: 30px;
  cursor: pointer;
  color: black;
  line-height: 35px;
}
.press-release-date {
  font-size: 15px;
  margin: 10px 0 10px 0;
}
.press-release-intro {
  font-size: 19px;
    color: black;
  line-height: 25px;
  text-align: left;
}
.press-release-intro a {
  text-decoration: none;
  color: #BD9A35;
  cursor: pointer;
}



.press-release-content {
  position: fixed;
  top: 0;
  right: 105%;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  z-index: 10000;
  overflow-y: scroll;
}
.press-release-content a {
  color: #BD9A35;
  text-decoration: none;
}
.press-release-content-title {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 100px 0 50px 10%;
  color: #727272;
}
.press-release-content-subtitle {
  font-size: 23px;
  letter-spacing: 2px;
  margin: 30px  0 30px 12%;
  color: #727272;
}
.press-release-content-text {
  font-size: 18px;
  color: #727272;
  margin: 25px 0 25px 15%;
  width: 70%;
  line-height: 35px;
  letter-spacing: 1px;
}

.press-release-first {
  margin: 100px 0 30px 0;
}
.press-release-last {
  margin: 30px 0 100px 10%;
}

.press-release-exit {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 20px;
  width: 20px;
  background-color: #161616;
  cursor: pointer;
}
.press-release-content-bold {
  font-weight: bold;
}

.awards-route {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,1);
  padding: 100px 10px 100px 10px;
}
.newsroom-award {
  position: relative;
  height: 370px;
  width: 204px;
  background-color: white;
  margin: 25px 25px 25px 25px;
  overflow: hidden;
}
.newsroom-award-title {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  background-color: #BD9A35;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 21px;
}
.newsroom-award-title p {
  width: 90%;
}
.newsroom-award-image {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 200px;
  transform: translate(-50%, 0);
}
.uv-fifty {
  top: 0;
}
.telly-image {
  top: 55px;
  width: 164px;
}
.samy-image {
  position: absolute;
  top: 0;
  width: 259px;
}


@media screen and (max-width: 425px) {


  .newsroom-main-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 58%;
    width: 100%;
    background-color: #161616;
  }

  .routes-router {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
  }

  .routes-route {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60%;
  }

}