.newsroom-routes-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.routes-router {
  position: relative;
  width: 25%;
}
.nr-route-nav {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
}
.blue-triangle {
  position: absolute;
  width: 18px;
}
.route-nav-title {
  box-sizing: border-box;
  padding: 34px;
  font-size: 24px;
}
.nr-press-contact {
  box-sizing: border-box;
  padding: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.nr-press-contact-title {
  color: white;
  text-transform: capitalize;
  font-size: 3vmin;
  font-weight: 600;
}
.nr-pic {
  padding-top: 30px;
}
.nr-pic-title {
  color: #727272;
}
.get-started-button a {
  color: white;
  text-decoration: none;
}
.routes-route {
  position: relative;
  height: auto;
  width: 75%;
  color: #727272;
  font-size: 5vmin;
}
.route-area {
  display: flex;
  background-color: white;
  box-sizing: border-box;
  padding: 50px;
  flex-direction: column;
}
.route-hidden {
  display: none;
}
.press-release {
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  width: 80%;
}
.press-release a {
  text-decoration: none;
  color: #BD9A35;
  cursor: pointer;
}
.press-release-title {
  font-size: 30px;
  cursor: pointer;
  color: black;
  line-height: 35px;
}
.press-release-date {
  font-size: 15px;
  letter-spacing: 0;
}
.press-separator {
  position: relative;
  height: 1px;
  width: 70%;
  margin: 0 0 0 10%;
  background-color: rgba(0,0,0,0.3);
}
.press-release-content {
  position: fixed;
  top: 0;
  right: 105%;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
  z-index: 10000;
  overflow-y: scroll;
}
.press-release-content a {
  color: #BD9A35;
  text-decoration: none;
}
.press-release-content-title {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 100px 0 50px 10%;
  color: #727272;
}
.press-release-content-subtitle {
  font-size: 23px;
  letter-spacing: 2px;
  margin: 30px  0 30px 12%;
  color: #727272;
}
.press-release-content-text {
  font-size: 18px;
  color: #727272;
  margin: 25px 0 25px 15%;
  width: 70%;
  line-height: 35px;
  letter-spacing: 1px;
}
.press-release-exit {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.press-release-content-bold {
  font-weight: bold;
}
.awards-route {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,1);
}
.awards-backdrop {
  position: relative;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: #ddd;
}
.newsroom-award {
  position: relative;
  width: 22%;
  background-color: white;
  margin: 10px;
}
.newsroom-award img {
  width: 100%;
  box-sizing: border-box;
  padding: 50px 10px;
}
.newsroom-award p {
  background-color: #BD9A35;
  color: white;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
  padding: 15px;
  min-height: 125px;
  line-height: 22px;
}
.uv-fifty {
  top: 0;
}
.telly-image {
  top: 55px;
  width: 164px;
}
.samy-image {
  position: absolute;
  top: 0;
  width: 259px;
}