.numetric-main-container {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #161616;
}

.numetric-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.numetric-main-content {
  position: relative;
  height: auto;
  width: 85%;
  margin: 200px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numetric-content-title {
  height: 165px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Rogan-SemiBold', sans-serif;
}

.numetric-work-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.numetric-work-pics {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  border-bottom: 2px solid #161616;
}
.numetric-work-pic-title {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 20px;
  color: #727272;
}
.numetric-work-image {
  width: 75vw;
  margin: 100px 0 100px 0;
}

