.services-main-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.services-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.services-content-mobile {
  display: none;
}

.services-main-content-container {
  position: relative;
  margin: 200px 0 0 0;
  width: 90%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.services-main-title {
  position: relative;
  height: 150px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}

.top-panel-area {
  position: relative;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  display: flex;
  flex-direction: row;
}

.top-panel {
  position: relative;
  flex: 1 1 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: center;
  border-bottom: 13px solid #ccc;
}
.services-tile {
  width: 75%;
  padding-top: 20px;
}
#services-tile-four {
  height: 55%;
  width: 55%;
  margin-top: 50px;
}
.panel-image-contain {
  position: relative;
  height: 70px;
  width: 100%;
}
.down-arrow {
  position: absolute;
  height: 15px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}
.services-top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition-duration: 0.15s;
}
.services-top-overlay:hover {
  background-color: rgba(0,0,0,0.5);
}

.panel-content-area {
  position: relative;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 40px 50px 50px 115px;
}
.content-two-top {
  position: relative;
  top: 0;
  width: 100%;
  height: 15px;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
}
.top-two-sec {
  position: relative;
  height: 100%;
  width: calc(100% / 5);
}
.panel-content-title {
  text-transform: uppercase;
  color: #BD9A35;
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: bold;
  transition-duration: 0.25s;
}
.panel-content-info {
  position: relative;
  color: #161616;
  transition-duration: 0.25s;
}


.services-accordion {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services-accordion-section {
  position: relative;
  height: 57px;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  color: #cccccc;
  border-top: 1px solid #727272;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.services-accordion-section h4 {
  position: relative;
  padding: 10px 0 10px 40px;
  font-size: medium;
}
.services-plus-sign {
  position: absolute;
  right: 1px;
  height: 55px;
  width: 40px;
  padding-bottom: 10px;
  cursor: pointer;
}
.services-accordion-pop {
  display: flex;
  position: relative;
  height: 0;
  width: 100%;
  background-color: white;
  color: transparent;
}
.services-accordion-text {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 30px 30px 115px;
}

.services-work-link {
  color: #bd9a35;
  text-decoration: underline;
}
.services-work-link:focus {
  color: #727272;
  text-decoration: line-through;
}