

.services-main-container {
  width: 100%;
  height: 220vh;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}


.services-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.services-main-background-gradient {
  position: relative;
  height: 35vh;
  width: 100%;
  background-color: #161616;
}

.services-content-mobile {
  display: none;
}

.services-main-content-container {
  position: absolute;
  top: 14%;
  //height: 170%;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.services-main-title {
  position: relative;
  height: 114px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}

.services-content-top {
  position: relative;
  height: 366px;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  display: flex;
  flex-direction: row;
}

.services-top-services {
  position: relative;
  height: 100%;
  width: calc(100% / 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.services-top-services p {
  position: absolute;
  bottom: 90px;
}

.services-tile {
  height: 75%;
  width: 75%;
}
#services-tile-four {
  height: 55%;
  width: 55%;
  margin-top: 50px;
}
.down-arrow {
height: 15px;
  position: absolute;
  bottom: 30px;
}

.services-content-middle {
  position: relative;
  height: 420px;
  width: 100%;
  background-color: white;
}
.content-two-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
}
.top-two-sec {
  position: relative;
  height: 100%;
  width: calc(100% / 5);
}
.services-content-title {
  position: absolute;
  top: 30%;
  left: 10%;
  text-transform: uppercase;
  color: #BD9A35;
  letter-spacing: 3px;
  font-size: x-large;
  font-weight: bold;
}
.service-content-info {
  position: absolute;
  top: 27%;
  left: 30%;
  color: #161616;
  height: 1000px;
  width: 50%;
  letter-spacing: 2px;
  font-size: medium;
  line-height: 40px;
}

.services-accordion {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services-accordion-section {
  position: relative;
  height: 57px;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  color: #cccccc;
  border-top: 1px solid #727272;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.services-accordion-section p {
  position: relative;
  right: -40px;
  font-size: medium;
}
.services-plus-sign {
  position: absolute;
  right: 1px;
  height: 55px;
  width: 40px;
  padding-bottom: 10px;
  cursor: pointer;
}
.services-accordion-pop {
  display: none;
  position: relative;
  height: 0;
  width: 100%;
  background-color: white;
}
.services-accordion-text {
  position: absolute;
  width: 50%;
  font-family: "Rogan-Regular", sans-serif;
  letter-spacing: 1px;
  line-height: 35px;
  color: #161616;
  left: 20%;
  top: 10%;
}

.services-looking-for-help {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}

@media screen and (max-device-width: 425px) {

  .services-background {
    position: absolute;
    height: auto;
    width: 100%;
    background-image: url('./images/services-bckgrnd.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .services-main-container {
    width: 100%;
    height: 320vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .services-content-top {
    display: none;
  }
  .services-content-middle {
    display: none;
  }
  .services-accordion {
    display: none;
  }

  .services-content-mobile {
    margin-top: 28vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    height: 280vh;
    width: 100%;
  }
  .content-mobile-content {
    position: relative;
    height: 95vw;
    width: 95vw;
    background-color: rgba(0,0,0,0.8);
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    color: #bd9a35;
  }
  .services-mobile-expand {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 100%;
    color: transparent;
  }
  .services-mobile-tile {
    height: 75vw;
  }
  #services-mobile-tile-digital {
    height: 55vw;
  }
  .mobile-down-arrow {
    position: relative;
    width: 25px;
  }

  .mobile-inner-expand {
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
  }

}