

.services-main-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.services-content-mobile {
  display: none;
}

.services-main-content-container {
  position: relative;
  margin: 200px 0 0 0;
  width: 90%;
  background-color: transparent;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.services-main-title {
  position: relative;
  height: 150px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
}

.services-content-top {
  position: relative;
  height: 366px;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  display: flex;
  flex-direction: row;
}

.services-top-services {
  position: relative;
  height: 100%;
  width: calc(100% / 5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: center;
}
.services-top-services p {
  position: absolute;
  bottom: 90px;
}

.services-tile {
  height: 75%;
  width: 75%;
}
#services-tile-four {
  height: 55%;
  width: 55%;
  margin-top: 50px;
}
.down-arrow {
height: 15px;
  position: absolute;
  bottom: 30px;
}
.services-top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  transition-duration: 0.15s;
}
.services-top-overlay:hover {
  background-color: rgba(0,0,0,0.5);
}

.services-content-middle {
  position: relative;
  height: auto;
  width: 100%;
  background-color: white;
}
.content-two-top {
  position: relative;
  top: 0;
  width: 100%;
  height: 15px;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
}
.top-two-sec {
  position: relative;
  height: 100%;
  width: calc(100% / 5);
}
.services-content-title {
  position: relative;
  top: 30%;
  left: 10%;
  text-transform: uppercase;
  color: #BD9A35;
  letter-spacing: 3px;
  font-size: x-large;
  font-weight: bold;
  margin-top: 50px;
  transition-duration: 0.25s;
  width: 30%;
}
.service-content-info {
  position: relative;
  left: 10%;
  color: #161616;
  width: 80%;
  letter-spacing: 1px;
  line-height: 35px;
  font-family: "Rogan-Regular", sans-serif;
  margin-top: 25px;
  margin-bottom: 50px;
  transition-duration: 0.25s;
}


.services-accordion {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.services-accordion-section {
  position: relative;
  height: 57px;
  width: 100%;
  background-color: rgba(22,22,22,0.9);
  color: #cccccc;
  border-top: 1px solid #727272;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.services-accordion-section p {
  position: relative;
  right: -40px;
  font-size: medium;
}
.services-plus-sign {
  position: absolute;
  right: 1px;
  height: 55px;
  width: 40px;
  padding-bottom: 10px;
  cursor: pointer;
}
.services-accordion-pop {
  display: flex;
  position: relative;
  height: 0;
  width: 100%;
  background-color: white;
  color: transparent;
}
.services-accordion-text {
  position: relative;
  width: 50%;
  font-family: "Rogan-Regular", sans-serif;
  letter-spacing: 1px;
  line-height: 35px;
  left: 10%;
  top: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-looking-for-help {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}



@media screen and(max-width: 1024px) {

  #services-tile-four {
    height: 31%;
    width: 55%;
    margin: 28px 0 -13px 0px;
  }

  .services-content-top {
    position: relative;
    height: 216px;
    width: 100%;
    background-color: rgba(22,22,22,0.9);
    display: flex;
    flex-direction: row;
  }

  .services-top-services {
    position: relative;
    height: 100%;
    width: calc(100% / 5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: #cccccc;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .services-tile {
    height: 75%;
    width: 75%;
    margin: -20px 0 -62px 0;
  }

  .services-top-services p {
    position: relative;
    bottom: 0;
  }

  .down-arrow {
    height: 15px;
    position: relative;
    bottom: 0;
  }


}

@media screen and (max-width: 768px) {


  .services-content-middle {
    position: relative;
    height: auto;
    width: 100%;
    background-color: white;
  }

  .services-content-top {
    height: 175px;
  }

  .services-top-services p {
    font-size: 12px;
  }

  .down-arrow {
    height: 10px;
    position: relative;
    bottom: 0;
  }

}


@media screen and (max-width: 425px) {

  .services-main-content-container {
    position: relative;
    margin: 200px 0 0 0;
    width: 90%;
    background-color: transparent;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  .services-content-top {
    display: none;
  }
  .services-content-middle {
    display: none;
  }
  .services-accordion {
    display: none;
  }

  .services-content-mobile {
    position: relative;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    height: auto;
    width: 100%;
  }
  .content-mobile-content {
    position: relative;
    height: auto;
    width: 75vw;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    color: #bd9a35;
  }
  .services-mobile-expand {
    position: relative;
    background-color: white;
    width: 78%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    color: #161616;
    font-size: 15px;
    margin: 0 0 30px 0;
  }


  .services-mobile-tile {
    height: 45vw;
  }
  .services-mobile-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
  }
  .mobile-expand-intro {
    position: relative;
    margin: 20px 0 20px 0;
    font-family: "Rogan-Regular", sans-serif;
    line-height: 20px;
    letter-spacing: 1px;
    width: 80%;
    color: #161616;
    text-align: center;
  }

  #services-mobile-tile-digital {
    height: 35vw;
    margin-top: 26px;
  }
  .mobile-down-arrow {
    position: relative;
    width: 25px;
    margin-bottom: 20px;
  }

  .mobile-inner-expand {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    color: white;
    font-size: 4vmin;
    cursor: pointer;
    transition-duration: 0.15s;
  }
  .mobile-inner-expand > .mobile-services-info {
    font-size: 0;
    position: relative;
    width: 80%;
    margin: 50px 0 50px 0;
  }
  .mobile-inner-expand:hover {
    height: auto;
    background-color: white;
    color: #161616;
  }
  .mobile-inner-expand:hover > .mobile-services-info{
    font-size: 15px;
  }
  .mobile-inner-expand:hover > .services-plus-sign{
    transform: rotate(45deg);
  }

  .mobile-inner-expand p {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 15px;
  }

  .services-plus-sign {
    position: absolute;
    right: 10px;
    top: 5px;
    height: 43px;
    padding-bottom: 0;
    cursor: pointer;
    transition-duration: .15s;
  }



}