.tds-main-container {
  height: 623vh;
  width: 100%;
  background-color: #161616;
}

.tds-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tds-main-content {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
}

.tds-content-title {
  height: 17vh;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.tds-top-bars {
  position: relative;
  height: 2vmin;
  width: 100%;
  background-color: #D0D0D0;
}

.tds-content-intro {
  position: relative;
  height: 30vh;
  width: 100%;
  background-color: white;
}
.tds-logo {
  height: 103px;
  position: absolute;
  top: 21%;
  right: 75%;
}
.tds-intro-text {
  top: 22%;
  position: absolute;
  width: 60%;
  left: 30%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
}


.tds-stats-container {
  position: relative;
  height: 60vh;
  width: 100%;
}
.tds-stats-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
}
.tds-stats-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.tds-video-container {
  position: relative;
  height: 70vh;
  width: 105%;
}
.tds-work-video {
  position: absolute;
  top: 50%;
  height: 30vw;
  width: 70vw;
  left: 50%;
  transform: translate(-50%, -58%);
}

.tds-work-title {
  position: relative;
  height: 12vh;
  background-color: white;
  color: #BD9A35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.tds-work-pics {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 2px solid #161616;
}
.tds-work-pic-title {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 3vmin;
  color: #727272;
}

@media screen and (max-device-width: 1440px) {

  .tds-main-container {
    height: 643vh;
    width: 100%;
    background-color: #161616;
  }

  .tds-logo {
    height: 8vmin;
    position: absolute;
    top: 21%;
    right: 75%;
  }

  .tds-content-intro {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: white;
  }

  .tds-stats-container {
    position: relative;
    height: 80vh;
    width: 100%;
  }

  .tds-stats-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 115%;
  }

  .tds-work-image {
    width: 75%;
  }
}

//this is to get ipad pro under control
@media screen and (max-device-width: 1024px) and (max-device-height: 1366px) {

  .tds-main-content {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .tds-content-title {
    height: 12vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

}

@media screen and (max-device-width: 1024px) {

  .tds-main-container {
    height: 513vh;
    width: 100%;
    background-color: #161616;
  }

  .tds-video-container {
    position: relative;
    height: 45vh;
    width: 100%;
  }
  .tds-work-pics {
    position: relative;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid #161616;
  }
  .tds-work-image {
    width: 100%;
  }
  .tds-work-image-digital {
    width: 105%;
  }
  .tds-work-image-brochure {
    width: 105%;
  }

}


@media screen and (max-device-width: 768px) {

  .tds-main-container {
    height: 502vh;
    width: 100%;
    background-color: #161616;
  }

  .tds-main-content {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .tds-content-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .tds-content-intro {
    position: relative;
    height: 65vh;
    width: 100%;
    background-color: white;
  }

  .tds-logo {
    height: 11vmin;
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translate(50%, 0);
  }

  .tds-intro-text {
    top: 40%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 3vmin;
  }

  .tds-stats-container {
    position: relative;
    height: 32vh;
    width: 100%;
  }

  .tds-video-container {
    position: relative;
    height: 28vh;
    width: 100%;
  }

}

@media screen and (max-device-width: 425px) {

  .tds-main-container {
    height: 390vh;
    width: 100%;
    background-color: #161616;
  }

  .tds-content-intro {
    position: relative;
    height: 112vh;
    width: 100%;
    background-color: white;
  }

  .tds-logo {
    height: 11vmin;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, -90%);
  }

  .tds-intro-text {
    top: 50%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 6vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }


  .tds-work-pics {
    position: relative;
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 2px solid #161616;
  }

}

@media screen and (max-device-width: 320px) {

  .tds-logo {
    height: 11vmin;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(50%, -120%);
  }

  .tds-intro-text {
    top: 53%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 6vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }


  .tds-main-container {
    height: 425vh;
    width: 100%;
    background-color: #161616;
  }

  .tds-content-intro {
    position: relative;
    height: 130vh;
    width: 100%;
    background-color: white;
  }

  .tds-work-pic-title {
    font-size: 3vmin;
  }

}