.tech-main-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.tech-main-content {
  position: relative;
  height: auto;
  margin: 200px 0 145px 0;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.tech-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
}

.tech-experts {
  position: relative;
  height: auto;
  width: 100%;
  background-color: white;
}

.tech-experts-top {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tech-experts-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.tech-experts-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.tech-industry-experts {
  position: absolute;
  top: 115px;
  right: 70%;
  font-size: 25px;
  color: #BD9A35;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 3px;
  line-height: 35px;
  font-family: 'Rogan-SemiBold', sans-serif;
}
.tech-industry-info {
  position: relative;
  margin: 100px 0 100px 0;
  left: 35%;
  color: #727272;
  width: 60%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
}

.tech-clients-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2px;
}

.tech-clients {
  position: relative;
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tech-clients-content {
  position: relative;
  height: auto;
  width: calc( 15vw * 5.1 );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px 0 100px 0;
}
.tech-work {
  height: 15vw;
  outline: 0;
}

#tech-looking-for-help {
  position: relative;
}

@media screen and (max-width: 768px) {

  .tech-title {
    font-size: 35px;
  }

  .tech-clients-content {
    width: calc( 30vw * 2.1 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tech-work {
    height: 30vw;
    margin: 0 0 0 0;
  }


}

@media screen and (max-width: 425px) {


  .tech-experts {
    position: relative;
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tech-industry-experts {
    position: relative;
    top: 0;
    right: 0;
    margin: 50px 0 50px 0;
    font-size: 20px;
    color: #BD9A35;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    line-height: 35px;
    font-family: 'Rogan-SemiBold', sans-serif;
  }
  .tech-industry-info {
    position: relative;
    margin: 0 0 100px 0;
    left: 0;
    color: #727272;
    width: 80%;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 32px;
    text-align: center;
  }

  .tech-clients-content {
    width: calc( 60vw * 1.1 );
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tech-work {
    height: 60vw;
    margin: 0 0 0 0;
  }


}