.tech-main-container {
  width: 100%;
  height: 157vh;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}

.tech-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.tech-main-backfill {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #161616;
}

.tech-main-content {
  position: absolute;
  top: 42vh;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -16%);
  display: flex;
  flex-direction: column;
}

.tech-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
  font-size: 5vmin;
}
.tech-experts {
  position: relative;
  height: 55vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.tech-experts-top {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tech-experts-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.tech-experts-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.tech-industry-experts {
  position: absolute;
  top: 1in;
  right: 70%;
  font-size: 3.5vmin;
  color: #BD9A35;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 3px;
  line-height: 35px;
  font-family: 'Rogan-SemiBold', sans-serif;
}
.tech-industry-info {
  position: absolute;
  top: 1in;
  left: 35%;
  color: #727272;
  width: 60%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
}

.tech-clients-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2px;
}
.tech-clients {
  position: relative;
  height: 527px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tech-work {
  height: 35vmin;
  margin: 0;
  outline: 0;
  margin: -1px;
}

#tech-looking-for-help {
  position: relative;
}

@media screen and (max-width: 1024px) {

  .tech-main-container {
    width: 100%;
    height: 280vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .tech-main-content {
    position: absolute;
    top: 70vh;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -16%);
    display: flex;
    flex-direction: column;
  }

  .tech-title {
    position: relative;
    height: 145px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
  }

  .tech-experts {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 425px){

  .tech-main-container {
    width: 100%;
    height: 312vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .tech-main-content {
    position: absolute;
    top: 67vh;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -16%);
    display: flex;
    flex-direction: column;
  }

  .tech-experts {
    position: relative;
    height: 140vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .tech-experts-top-left {
   display: none;
  }
  .tech-experts-top-right {
    width: 100%;
  }

  .tech-industry-experts {
    position: absolute;
    top: 10%;
    right: 70%;
    font-size: 5vmin;
    color: #BD9A35;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
    line-height: 22px;
  }

  .tech-industry-info {
    position: absolute;
    top: 9%;
    left: 35%;
    font-size: 4vmin;
    color: #727272;
    width: 57%;
  }

  .tech-clients {
    position: relative;
    height: 96vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .tech-work {
    height: 65vmin;
    margin: 0;
    outline: 0;
  }

}