.telecom-main-container {
  width: 100%;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}

.telecom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.telecom-main-content {
  position: relative;
  height: auto;
  margin: 200px 0 0 0;
  left: 50%;
  width: 85%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telecom-title {
  position: relative;
  height: 165px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
}

.telecom-experts {
  position: relative;
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.telecom-experts-top {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.telecom-experts-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.telecom-experts-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}

.telecom-industry-experts {
  position: absolute;
  top: 115px;
  right: 70%;
  font-size: 35px;
  color: #BD9A35;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 3px;
  line-height: 35px;
  font-family: 'Rogan-SemiBold', sans-serif;
}

.telecom-industry-info {
  position: relative;
  margin: 100px 0 100px 0;
  left: 35%;
  color: #727272;
  width: 60%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
}
.telecom-read-more {
  color: #bd9a35;
  font-size: 20px;
  cursor: pointer;
}
.telecom-read-less {
  color: #bd9a35;
  font-size: 20px;
  cursor: pointer;
}

.telecom-more-info {
  position: absolute;
  visibility: hidden;
  left: 35%;
  color: #727272;
  width: 60%;
  height: auto;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
  margin: -50px 0 100px 0;
}

.telecom-video {
  position: relative;
  height: auto;
  width: 100%;
  background-color: transparent;
}

.telecom-video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 10vmin;
  cursor: pointer;
}

.telecom-video-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.telecom-tds-video {
  position: relative;
  width: 86%;
  margin: 100px 0 100px 0;
  left: 50%;
  transform: translate(-50%);
}

.telecom-clients-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.telecom-clients {
  position: relative;
  height: auto;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.telecom-work {
  height: 15vw;
  margin: 100px -1px 100px -1px;
  outline: 0;
   padding: 0;
 }

#telecom-looking-for-help {
  position: relative;
}

@media screen and (max-width: 768px){

  .telecom-experts {
    align-items: center;
  }

  .telecom-experts-top-left {
    width: 0;
  }
  .telecom-experts-top-right {
    width: 100%;
  }

  .telecom-industry-experts {
    position: relative;
    top: 0;
    right: 0;
    font-size: 25px;
    color: #BD9A35;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    line-height: 35px;
    font-family: 'Rogan-SemiBold', sans-serif;
    margin: 50px 0 50px 0;
  }

  .telecom-industry-info {
    position: relative;
    left: 0;
    color: #727272;
    width: 85%;
    height: auto;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 32px;
    margin: 0 0 100px 0;
    text-align: center;
  }

  .telecom-more-info {
    position: absolute;
    visibility: hidden;
    left: 0;
    color: #727272;
    width: 85%;
    font-size: 18px;
    text-align: center;
  }

}

@media screen and (max-width: 425px) {

  .telecom-clients {
    position: relative;
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
  }

  .telecom-work {
    height: 60vw;
    margin: 0 0 0 0;
    outline: 0;
    padding: 0;
  }

}