.telecom-main-container {
  width: 100%;
  height: 240vh;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}

.telecom-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.telecom-main-backfill {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #161616;
}

.telecom-main-content {
  position: absolute;
  top: 54.5vh;
  left: 50%;
  width: 85%;
  transform: translate(-50%, -16%);
  display: flex;
  flex-direction: column;
}

.telecom-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
  font-size: 5vmin;
}

.telecom-experts {
  position: relative;
  height: 60vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  line-height: 35px;
}
.telecom-experts-top {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.telecom-experts-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.telecom-experts-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.telecom-industry-experts {
  position: absolute;
  top: 1in;
  right: 70%;
  font-size: 3.5vmin;
  color: #BD9A35;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 3px;
  line-height: 35px;
  font-family: 'Rogan-SemiBold', sans-serif;
}
.telecom-industry-info {
  position: absolute;
  top: 1in;
  left: 35%;
  color: #727272;
  width: 60%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
}

.telecom-video {
  position: relative;
  height: 750px;
  width: 100%;
  background-color: transparent;
}
.telecom-video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}
.telecom-video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 10vmin;
  cursor: pointer;
}

.telecom-video-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.telecom-tuac-video {
  position: absolute;
  width: 86%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.telecom-clients-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.telecom-clients {
  position: relative;
  height: 527px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.telecom-work {
  height: 230px;
  margin: 0;
  outline: 0;
   margin: -3px;
   padding: 0;
 }

#telecom-looking-for-help {
  position: relative;
}

@media screen and (max-width: 1440px){

  .telecom-main-container {
    width: 100%;
    height: 228vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 1024px) {

  .telecom-main-content {
    position: absolute;
    top: 60.5vh;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -16%);
    display: flex;
    flex-direction: column;
  }

  .telecom-title {
    position: relative;
    height: 145px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 5vmin;
  }

  .telecom-industry-experts {
    position: absolute;
    top: 12vh;
    right: 70%;
    font-size: 3.5vmin;
    color: #BD9A35;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 3px;
    line-height: 35px;
    font-family: 'Rogan-SemiBold', sans-serif;
  }

  .telecom-industry-info {
    position: absolute;
    top: 12vh;
    left: 35%;
    color: #727272;
    width: 60%;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 2vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }

  .telecom-video {
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: transparent;
  }

  .telecom-clients-title {
    position: relative;
    height: 7vh;
    width: 100%;
    background-color: white;
    color: #BD9A35;
    text-transform: capitalize;
    font-size: 3vmin;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .telecom-work {
    height: 23vmin;
    margin: 0;
    outline: 0;
  }


  .telecom-clients {
    position: relative;
    height: 43vh;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 768px)  {

  .telecom-main-content {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 85%;
    transform: translate(-50%, -16%);
    display: flex;
    flex-direction: column;
  }

  .telecom-title {
    position: relative;
    height: 17vmin;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
  }

  .telecom-experts-top-left {
    display: none;
  }
  .telecom-experts-top-right {
    width: 100%;
  }

  .telecom-experts {
    position: relative;
    height: 68vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .telecom-video {
    position: relative;
    height: 35vh;
    width: 100%;
    background-color: transparent;
  }

}

@media screen and (max-width: 425px) {

  .telecom-main-container {
    width: 100%;
    height: 30in;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .telecom-main-content {
    position: absolute;
    top: 140px;
    left: 50%;
    width: 85%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
  }

  .telecom-title {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
  }

  .telecom-industry-experts {
    position: absolute;
    top: 70px;
    right: 50%;
    font-size: 6vmin;
    color: #BD9A35;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 20px;
    transform: translate(50%, 0);
    text-align: center;
  }

  .industry-experts {
    font-family: 'Rogan-ExtraBold', sans-serif;
    font-size: 3.5vmin;
    line-height: 19px;
    letter-spacing: 3px;
  }

  .telecom-industry-info {
    position: absolute;
    top: 150px;
    left: 50%;
    color: #727272;
    width: 80%;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 5vmin;
    letter-spacing: 1px;
    line-height: 31px;
    transform: translate(-50%, 0%);
    text-align: center;
  }

  .telecom-experts {
    position: relative;
    height: 1510px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .industry-experts {
    font-family: 'Rogan-ExtraBold', sans-serif;
    font-size: 3.5vmin;
    line-height: 19px;
    letter-spacing: 3px;
  }

  .telecom-video {
    position: relative;
    height: 2in;
    width: 100%;
    background-color: transparent;
  }

  .telecom-clients-title {
    position: relative;
    height: 80px;
    width: 100%;
    background-color: white;
    color: #BD9A35;
    text-transform: capitalize;
    font-size: 6vmin;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .telecom-clients {
    position: relative;
    height: 10in;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .telecom-work {
    height: 65vmin;
    outline: 0;
    margin: 0;
    padding: 0;
  }

}