@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans');

body {
  background-color: black;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 6px;
  font-size: 24px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.massive-text {
  text-align: center;
  font-size: 120px;
}