.tourism-main-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourism-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.tourism-main-backfill {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #161616;
}

.tourism-main-content {
  position: relative;
  width: 85%;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 170px 0 0 0;
}

.tourism-title {
  position: relative;
  height: auto;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  margin: 0 0 100px 0;
}

.tourism-experts {
  position: relative;
  background-color: white;
  height: auto;
}

.tourism-experts-top {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tourism-experts-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.tourism-experts-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.tourism-industry-experts {
  position: absolute;
  top: 120px;
  right: 70%;
  font-size: 3.5vmin;
  color: #BD9A35;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 3px;
  line-height: 35px;
  font-family: 'Rogan-SemiBold', sans-serif;
}
.tourism-industry-info {
  position: relative;
  left: 35%;
  color: #727272;
  width: 60%;
  height: auto;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
  margin: 100px 0 100px 0;
}

.tourism-video {
  position: relative;
  height: auto;
  width: 100%;
  background-color: transparent;
}
//.tourism-video-overlay {
//  position: relative;
//  height: 100%;
//  width: 100%;
//  background-color: black;
//  opacity: 0.4;
//}
//.tourism-video-play {
//  position: absolute;
//  left: 50%;
//  top: 50%;
//  transform: translate(-50%, -50%);
//  height: 180px;
//  cursor: pointer;
//}
.tourism-video-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.tourism-tuac-video {
  position: relative;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 100px 0 100px 0;
}

.tourism-clients-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tourism-clients {
  position: relative;
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tourism-clients-clients {
  position: relative;
  height: calc(230px * 2);
  width: calc(230px * 4.1);
  cursor: pointer;
  margin: 100px 0 100px 0;
}
.tourism-clients-clients img {
  margin: -3px;
  outline: 0;
  padding: 0;
}

.tourism-work {
  height: 230px;
  margin: 0;
  outline: 0;
}

.tourism-awards-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tourism-awards {
  position: relative;
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tourism-awards-awards {
  position: relative;
  height: 834px;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 75px 0 75px 0;
}
.tourism-award {
  position: relative;
  height: 40%;
  width: 14%;
  margin-left: 72px;
  cursor: pointer;
}
.tourism-award-title {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: #BD9A35;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2vmin;
  font-weight: bold;
  letter-spacing: 3px;
}
.tourism-award-title p {
  line-height: 10px;
}
.tourism-award-pic {
  position: absolute;
  top: 0;
  height: 70%;
  width: 100%;
  background-color: white;
}

.tourism-award-one {
  background-image: url('../images/telly_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-two {
  background-image: url('../images/samy_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-three {
  background-image: url('../images/garfield (1).png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: 51%;
  background-position-y: 50%;
}
.tourism-award-four {
  background-image: url('../images/golden_spike.png');
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 38%;
  background-position-y: 50%;
}
.tourism-award-five {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-six {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-seven {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-eight {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}

#tourism-looking-for-help {
  position: relative;
}
