.tourism-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}
.tourism-main-backfill {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #161616;
}
.tourism-more-info, .telecom-more-info {
  display: none;
  visibility: hidden;
}
.tourism-video {
  position: relative;
  height: auto;
  width: 100%;
  background-color: transparent;
}
.tourism-video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 180px;
  cursor: pointer;
}
.tourism-video-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.tourism-tuac-video {
  position: relative;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin: 100px 0 100px 0;
}
.tourism-work {
  height: 12vw;
  margin: 0;
  outline: 0;
}
.tourism-awards-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tourism-awards {
  position: relative;
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tourism-awards-awards {
  position: relative;
  height: auto;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 75px 0 75px 0;
}
.tourism-award {
  position: relative;
  height: 335px;
  width: 213px;
  cursor: pointer;
  margin: 40px 40px 40px 40px;
}
.tourism-award-title {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: #BD9A35;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}
.tourism-award-title p {
  line-height: 10px;
}
.tourism-award-pic {
  position: absolute;
  top: 0;
  height: 70%;
  width: 100%;
  background-color: white;
}

.tourism-award-one {
  background-image: url('../images/telly_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-two {
  background-image: url('../images/samy_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-three {
  background-image: url('../images/garfield (1).png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: 51%;
  background-position-y: 50%;
}
.tourism-award-four {
  background-image: url('../images/golden_spike.png');
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 38%;
  background-position-y: 50%;
}
.tourism-award-five {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-six {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-seven {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-eight {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
