.tourism-main-container {
  width: 100%;
  height: 388vh;
  background-color: #161616;
  display: flex;
  flex-direction: column;
}

.tourism-main-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 146%;
  width: 100%;
}
.tourism-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../images/tourism-bckgrnd.jpg');
  background-size: cover;
}

.tourism-main-backfill {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #161616;
}

.tourism-main-content {
  position: absolute;
  top: 20vh;
  left: 50%;
  width: 85%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
}

.tourism-title {
  position: relative;
  height: 145px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  color: white;
  font-size: 7vmin;
  font-family: "Rogan-SemiBold", sans-serif;
}

.tourism-experts-top {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.tourism-experts-top-left {
  height: 100%;
  width: 30%;
  background-color: #BD9A35;
}
.tourism-experts-top-right {
  height: 100%;
  width: 70%;
  background-color: #D0D0D0;
}
.tourism-industry-experts {
  position: absolute;
  top: 20%;
  right: 70%;
  font-size: 30px;
  color: #BD9A35;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 3px;
  line-height: 35px;
  font-family: "Rogan-SemiBold", sans-serif;
}
.tourism-industry-info {
  position: absolute;
  top: 21%;
  left: 35%;
  color: #727272;
  width: 60%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
}

.tourism-video {
  position: relative;
  height: 750px;
  width: 100%;
  background-color: transparent;
}
.tourism-video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}
.tourism-video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 180px;
  cursor: pointer;
}
.tourism-video-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}
.tourism-tuac-video {
  position: absolute;
  width: 86%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tourism-clients-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tourism-clients {
  position: relative;
  height: 720px;
  width: 100%;
  background-color: black;
}
.tourism-clients-clients {
  position: absolute;
  height: calc(230px * 2);
  width: calc(230px * 4.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.tourism-clients-clients img {
  margin: -3px;
  outline: 0;
  padding: 0;
}

.tourism-work {
  height: 230px;
  margin: 0;
  outline: 0;
}

.tourism-awards-title {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: white;
  color: #BD9A35;
  text-transform: capitalize;
  font-size: 28px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tourism-awards {
  position: relative;
  height: 940px;
  width: 100%;
  background-color: black;
}
.tourism-awards-awards {
  position: absolute;
  height: 86%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.tourism-award {
  position: relative;
  height: 40%;
  width: 14%;
  margin-left: 72px;
  cursor: pointer;
}
.tourism-award-title {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
  background-color: #BD9A35;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2vmin;
  font-weight: bold;
  letter-spacing: 3px;
}
.tourism-award-title p {
  line-height: 10px;
}
.tourism-award-pic {
  position: absolute;
  top: 0;
  height: 70%;
  width: 100%;
  background-color: white;
}

.tourism-award-one {
  background-image: url(../images/telly_award.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-two {
  background-image: url(../images/samy_award.png);
  background-color: white;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-three {
  background-image: url('../images/garfield (1).png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 115%;
  background-position-x: 51%;
  background-position-y: 50%;
}
.tourism-award-four {
  background-image: url(../images/golden_spike.png);
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 38%;
  background-position-y: 50%;
}
.tourism-award-five {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-six {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-seven {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}
.tourism-award-eight {
  background-image: url('../images/communicator_award.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position-x: 45%;
  background-position-y: 50%;
}

#tourism-looking-for-help {
  position: relative;
}

//@media screen and (max-device-width: 1440px){
//  .tourism-main-container {
//    width: 100%;
//    height: 452vh;
//    background-color: #161616;
//    display: flex;
//    flex-direction: column;
//  }
//}


@media screen and (max-device-width: 1440px){

  .tourism-main-container {
    width: 100%;
    height: 452vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .tourism-experts {
    position: relative;
    height: 53vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .tourism-video {
    position: relative;
    height: 75vh;
    width: 100%;
    background-color: transparent;
  }

  .tourism-clients-title {
    position: relative;
    height: 11vmin;
    width: 100%;
    background-color: white;
    color: #BD9A35;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tourism-clients-clients {
    position: absolute;
    height: calc(20vmin * 2);
    width: calc(20vmin * 4.1);
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
    cursor: pointer;
  }

  .tourism-work {
    height: 20vmin;
    margin: 0;
    outline: 0;
  }

  .tourism-clients {
    position: relative;
    height: 67vmin;
    width: 100%;
    background-color: black;
  }

  .tourism-awards {
    position: relative;
    height: 112vmin;
    width: 100%;
    background-color: black;
  }

  .tourism-award {
    position: relative;
    height: 41vmin;
    width: 25vmin;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  .tourism-awards-awards {
    position: absolute;
    height: 86%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .tourism-awards-title {
    position: relative;
    height: 11vmin;
    width: 100%;
    background-color: white;
    color: #BD9A35;
    text-transform: capitalize;
    font-size: 28px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-device-width: 1024px) {

  .tourism-main-container {
    width: 100%;
    height: 303vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .tourism-video {
    position: relative;
    height: 47vh;
    width: 100%;
    background-color: transparent;
  }

  .tourism-clients-title {
    position: relative;
    height: 7vmin;
    width: 100%;
    background-color: white;
    color: #BD9A35;
    text-transform: capitalize;
    font-size: 3vmin;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tourism-awards {
    position: relative;
    height: 84vmin;
    width: 100%;
    background-color: black;
  }

  .tourism-awards-title {
    position: relative;
    height: 7vmin;
    width: 100%;
    background-color: white;
    color: #BD9A35;
    text-transform: capitalize;
    font-size: 3vmin;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tourism-award {
    position: relative;
    height: 30vmin;
    width: 19vmin;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  .tourism-award-title {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: #BD9A35;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2vmin;
    font-weight: bold;
    letter-spacing: 1px;
  }

}

@media screen and (max-device-width: 768px){

  .tourism-experts {
    position: relative;
    height: 65vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .tourism-industry-experts {
    position: absolute;
    top: 13%;
    right: 70%;
    font-size: 4vmin;
    color: #BD9A35;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 3px;
    line-height: 35px;
  }

  .tourism-industry-info {
    position: absolute;
    top: 13%;
    left: 35%;
    color: #727272;
    width: 60%;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 3vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }

  .intro-text {
    font-family: 'Rogan-Light', sans-serif;
    font-size: 3vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }

}

@media screen and (max-device-width: 425px){

  .tourism-main-container {
    width: 100%;
    height: 395vh;
    background-color: #161616;
    display: flex;
    flex-direction: column;
  }

  .tourism-title {
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    color: white;
    font-size: 7vmin;
    font-family: "Rogan-SemiBold", sans-serif;
  }

  .tourism-experts-top-left {
    display: none;
  }
  .tourism-experts-top-right {
    width: 100%;
  }

  .tourism-experts {
    position: relative;
    height: 116vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .tourism-industry-experts {
    position: absolute;
    top: 6%;
    right: 50%;
    font-size: 6vmin;
    color: #BD9A35;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    line-height: 35px;
    transform: translate(50%, 0%);
  }

  .tourism-industry-info {
    position: absolute;
    top: 18%;
    left: 50%;
    color: #727272;
    width: 80%;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 5vmin;
    letter-spacing: 1px;
    line-height: 32px;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .tourism-video {
    position: relative;
    height: 25vh;
    width: 100%;
    background-color: transparent;
  }

  .tourism-clients {
    position: relative;
    height: 55vmin;
    width: 100%;
    background-color: black;
  }

  .tourism-awards {
    position: relative;
    height: 249vmin;
    width: 100%;
    background-color: black;
  }

  .tourism-award {
    position: relative;
    height: 45vmin;
    width: 30vmin;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
  }

  .tourism-award-title {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: #BD9A35;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2vmin;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1px;
  }

}