p {
   font-family: 'Rogan-Regular', sans-serif;
 }
div {
  font-family: 'Rogan-Regular', sans-serif;
}

.intro-text {
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
}

.page-title {
  font-family: 'Rogan-SemiBold', sans-serif;
  font-size: 4vmin;
  letter-spacing: 2px;
}

.industry-experts {
  font-family: 'Rogan-ExtraBold', sans-serif;
  font-size: 3.5vmin;
  line-height: 48px;
  letter-spacing: 4px;
}

@media screen and (max-device-width: 425px) {

  .page-title {
    font-family: 'Rogan-SemiBold', sans-serif;
    font-size: 8vmin;
    letter-spacing: 2px;
  }

}