.uvhba-main-container {
  height: 455vh;
  width: 100%;
  background-color: #161616;
}

.uvhba-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.uvhba-main-content {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
}

.uvhba-content-title {
  height: 17vh;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Rogan-SemiBold', sans-serif;
}

.uvhba-top-bars {
  position: relative;
  height: 15px;
  width: 100%;
  display: flex;
}
.uvhba-top-bars-left {
  height: 100%;
  width: 25%;
  background-color: #BD9A35;
}
.uvhba-top-bars-right {
  height: 100%;
  width: 75%;
  background-color: #D0D0D0;
}

.uvhba-content-intro {
  position: relative;
  height: 23vh;
  width: 100%;
  background-color: white;
}
.uvhba-logo {
  height: 103px;
  position: absolute;
  top: 21%;
  right: 75%;
}
.uvhba-intro-text {
  top: 50%;
  position: absolute;
  width: 65%;
  left: 50%;
  font-family: 'Rogan-Light', sans-serif;
  font-size: 2vmin;
  letter-spacing: 1px;
  line-height: 32px;
  transform: translate(-50%, -50%);
  text-align: center;
}


.uvhba-stats-container {
  position: relative;
  height: 50vh;
  width: 100%;
}
.uvhba-stats-underlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
}
.uvhba-stats-pic {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.uvhba-work-title {
  position: relative;
  height: 12vh;
  background-color: white;
  color: #BD9A35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.uvhba-work-pics {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  border-bottom: 2px solid #161616;
}
.uvhba-work-pic-title {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 2vmin;
  color: #727272;
}

@media screen and (max-device-width: 1440px) {

  .uvhba-logo {
    height: 8vmin;
    position: absolute;
    top: 21%;
    right: 75%;
  }

  .uvhba-content-intro {
    position: relative;
    height: 40vh;
    width: 100%;
    background-color: white;
  }

  .uvhba-stats-container {
    position: relative;
    height: 71vh;
    width: 100%;
  }


  .uvhba-stats-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
    width: 95%;
  }

  .uvhba-work-image {
    width: 75%;
  }

  .uvhba-branding-image {
    width: 65%;
  }
}

//this is to get ipad pro under control
@media screen and (max-device-width: 1024px) and (max-device-height: 1366px) {

  .uvhba-main-content {
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .uvhba-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }

  .uvhba-content-title {
    height: 12vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }



}

@media screen and (max-device-width: 1024px) {

  .uvhba-main-container {
    height: 513vh;
    width: 100%;
    background-color: #161616;
  }

  .uvhba-main-content {
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .uvhba-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }
  .uvhba-video-container {
    position: relative;
    height: 45vh;
    width: 100%;
  }
  .uvhba-work-pics {
    position: relative;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.8);
    border-bottom: 2px solid #161616;
  }
  .uvhba-work-image {
    width: 100%;
  }
  .uvhba-branding-image {
    width: 80%;
  }
  .uvhba-work-image-digital {
    width: 105%;
  }
  .uvhba-work-image-brochure {
    width: 105%;
  }

}


@media screen and (max-device-width: 768px) {

  .uvhba-main-container {
    height: 502vh;
    width: 100%;
    background-color: #161616;
  }

  .uvhba-main-content {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
  }

  .uvhba-content-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .uvhba-content-intro {
    position: relative;
    height: 65vh;
    width: 100%;
    background-color: white;
  }

  .uvhba-logo {
    height: 11vmin;
    position: absolute;
    top: 12%;
    right: 50%;
    transform: translate(50%, 0);
  }

  .uvhba-intro-text {
    top: 40%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 3vmin;
  }

  .uvhba-stats-container {
    position: relative;
    height: 32vh;
    width: 100%;
  }

  .uvhba-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }

  .uvhba-video-container {
    position: relative;
    height: 28vh;
    width: 100%;
  }

  .uvhba-branding-image {
    width: 80%;
  }

}

@media screen and (max-device-width: 425px) {

  .uvhba-main-container {
    height: 390vh;
    width: 100%;
    background-color: #161616;
  }

  .uvhba-content-title {
    font-size: 5vmin;
  }

  .uvhba-content-intro {
    position: relative;
    height: 112vh;
    width: 100%;
    background-color: white;
  }

  .uvhba-intro-text {
    top: 6%;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-family: 'Rogan-Light', sans-serif;
    font-size: 6vmin;
    letter-spacing: 1px;
    line-height: 32px;
  }

  .uvhba-stats-pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 95%;
  }

  .uvhba-work-pics {
    position: relative;
    height: 36vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    border-bottom: 2px solid #161616;
  }

  .uvhba-branding-image {
    width: 80%;
  }

}

@media screen and (max-device-width: 320px) {

  .uvhba-content-intro {
    position: relative;
    height: 130vh;
    width: 100%;
    background-color: white;
  }

  .uvhba-branding-image {
    width: 80%;
  }

}