.work-main-container {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
}

.work-title {
  position: relative;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 200px 0 100px 0;
}

.work-content {
  position: relative;
  width: 65vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work-content-item {
  position: relative;
  height: calc(65vw / 4);
  width: calc(65vw / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(65vw / 4);
  height: calc(65vw / 4);
  cursor: pointer;
  z-index: 10;
}
.work-content-image-color {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(65vw / 4);
  height: calc(65vw / 4);
  cursor: pointer;
}

.work-content-overlay {
  position: absolute;
  height: calc(65vw / 4);
  width: 0;
  background-color: rgba(0,0,0,0.7);
}


@media screen and (max-width: 768px) {

  .work-content {
    position: relative;
    width: 65vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .work-content-item {
    position: relative;
    height: calc(65vw / 2);
    width: calc(65vw / 2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(65vw / 2);
    height: calc(65vw / 2);
    cursor: pointer;
    z-index: 10;
  }
  .work-content-image-color {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(65vw / 2);
    height: calc(65vw / 2);
    cursor: pointer;
  }

  .work-content-overlay {
    position: absolute;
    height: calc(65vw / 2);
    width: 0;
    background-color: rgba(0,0,0,0.7);
  }

}

@media screen and (max-width: 425px) {


  .work-content {
    position: relative;
    width: 65vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .work-content-item {
    position: relative;
    height: 65vw;
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 65vw;
    height: 65vw;
    cursor: pointer;
    z-index: 10;
  }
  .work-content-image-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 65vw;
    height: 65vw;
    cursor: pointer;
  }

  .work-content-overlay {
    position: absolute;
    height: 65vw;
    width: 0;
    background-color: rgba(0,0,0,0.7);
  }

}