.work-main-container {
  height: 210vh;
  width: 100%;
  background-image: url('../images/work-bckgrnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #161616;
}
.work-title {
  position: absolute;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: 17%;
  left: 50%;
  transform: translate(-50%, 0);
}

.work-content {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 65vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.work-content-item {
  position: relative;
  height: calc(65vw / 4);
  width: calc(65vw / 4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-content-image {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(65vw / 4);
  height: calc(65vw / 4);
  cursor: pointer;
  z-index: 10;
}
.work-content-image-color {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(65vw / 4);
  height: calc(65vw / 4);
  cursor: pointer;
}

.work-content-overlay {
  position: absolute;
  height: calc(65vw / 4);
  width: 0;
  background-color: rgba(0,0,0,0.7);
}

@media screen and (max-device-width: 425px){

  .work-main-container {
    height: 1095vh;
    width: 100%;
    background-image: url('../images/work-bckgrnd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161616;
  }
  .work-title {
    position: absolute;
    color: white;
    font-size: 7vmin;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .work-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 95vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .work-content-item {
    position: relative;
    height: 90vw;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }

  .work-content-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vw;
    cursor: pointer;
    z-index: 10;
  }
  .work-content-image-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vw;
    cursor: pointer;
  }

  .work-content-overlay {
    position: absolute;
    height: 90vw;
    width: 0;
    background-color: rgba(0,0,0,0.7);
  }



}