.work-main-container {
  height: 110vh;
  width: 100%;
  background-image: url('../images/work-bckgrnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #161616;
}
.work-title {
  position: absolute;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: 17%;
  left: 50%;
  transform: translate(-50%, 0);
}

.work-content {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.work-content img {
  height: 10vw;
  width: 10vw;
  cursor: pointer;
}

@media screen and (max-device-width: 425px){

  .work-main-container {
    height: 940vh;
    width: 100%;
    display: flex;
    background-image: url('../images/work-bckgrnd.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #161616;
  }
  .work-title {
    position: absolute;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .work-content {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .work-content img {
    height: 80vw;
    width: 90vw;
    margin-bottom: 10px;
  }


}