<div class="main-container" id="wfront-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Workfront</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Digital Ads</p>
            <img class="full-width-pic" src="../../images/work-assets/wfront-one.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/wfront-two.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>
