<div class="wfront-main-container" id="wfront-main-container">

    <img src="../../images/wfront-background.jpg" class="wfront-background" id="wfront-background">

    <div class="wfront-main-content">
        <div class="wfront-content-title"><h1>Tuacahn Amphitheater</h1></div>
        <!--<div class="wfront-top-bars">-->
        <!--<div class="wfront-top-bars-left"></div>-->
        <!--<div class="wfront-top-bars-right"></div>-->
        <!--</div>-->
        <div class="wfront-content-intro">
            <div class="wfront-intro-text"><p>Tuacahn Amphitheatre hired us in 2013 for a small creative refresh. A couple months after that, they came back for a little more. We started doing their TV and radio buys later that year while acting as a consultant for other buys. The following year, in 2014, we took over their entire marketing budget. We now provide showstopping creative, digital, media and social media services for the popular venue.</p></div>
        </div>
        <div class="wfront-stats-container">
            <div class="wfront-stats-underlay"></div>
            <img class="wfront-stats-pic" src="../../images/work-assets/wfront-stats.png">
        </div>
        <div class="wfront-work-title">
            <p>The Work</p>
        </div>

        <div class="wfront-work-pics">
            <p class="wfront-work-pic-title">Website Design</p>
            <img class="wfront-work-image" src="../../images/work-assets/wfront-site.png">
        </div>
        <div class="wfront-work-pics">
            <p class="wfront-work-pic-title">Digital Ads</p>
            <img class="wfront-work-image wfront-work-image-digital" src="../../images/work-assets/wfront-banners.png">
        </div>
        <div class="wfront-work-pics">
            <p class="wfront-work-pic-title">Posters</p>
            <img class="wfront-work-image wfront-work-image-brochure" src="../../images/work-assets/wfront-posters.png">
        </div>
        <div class="wfront-work-pics">
            <p class="wfront-work-pic-title">Billboard</p>
            <img class="wfront-work-image wfront-work-image-brochure" src="../../images/work-assets/wfront-billboard.png">
        </div>


    </div>

</div>

<get-started-dir></get-started-dir>