<div class="creef-main-container" id="creef-main-container">

    <img src="{{backgroundImage}}" class="creef-background" id="creef-background">

    <div class="creef-main-content">
        <div class="creef-content-title"><h1>Wayne County Tourism</h1></div>
        <!--<div class="creef-top-bars">-->
        <!--<div class="creef-top-bars-left"></div>-->
        <!--<div class="creef-top-bars-right"></div>-->
        <!--</div>-->

        <div class="creef-work-title">
            <p>The Work</p>
        </div>

        <div class="creef-work-pics">
            <p class="creef-work-pic-title">Branding</p>
            <img class="creef-work-image creef-branding-image" src="../../images/work-assets/work-creef1.png">
        </div>
        <div class="creef-work-pics">
            <p class="creef-work-pic-title">Stationary</p>
            <img class="creef-work-image creef-work-image-digital" src="../../images/work-assets/work-creef2.png">
        </div>

    </div>

</div>

<get-started-dir></get-started-dir>