<div class="main-container" id="creef-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Wayne County Tourism</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Branding</p>
            <img class="full-width-pic" src="../../images/work-assets/work-creef1.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Stationary</p>
            <img class="full-width-pic" src="../../images/work-assets/work-creef2.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

