<div class="main-container" id="garfield-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Garfield County Tourism</h1>
        <div class="page-intro">
            <p class="intro-text">Garfield County Tourism hired us to help make their brand message consistent. We replaced a lot of print with digital creatives that they had never used before. In 2014, they challenged us to create a campaign to help visitors stay longer in Garfield County. In response, we launched the Take Your Time campaign. Through this effort, the TRT increased by 15.8 percent in 2015 from 2014 and by 8 percent in 2016 from 2015.</p>
        </div>
        <div class="page-content dark-back">
            <img class="full-width-pic" src="../../images/work-assets/GarfieldStat.png">
        </div>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Branding</p>
            <img class="full-width-pic" src="../../images/work-assets/garfield-big.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Website Design</p>
            <img class="full-width-pic" src="../../images/work-assets/garfield-site.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Digital Ads</p>
            <img class="full-width-pic" src="../../images/work-assets/garfield-banner.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Brochures</p>
            <img class="full-width-pic" src="../../images/work-assets/garfield-brochure.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Poster</p>
            <img class="full-width-pic" src="../../images/work-assets/garfield-poster.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

