<div class="garfield-main-container" id="garfield-main-container">

    <img src="{{backgroundImage}}" class="garfield-background" id="garfield-background">

    <div class="garfield-main-content">
        <div class="garfield-content-title"><h1>Garfield County Tourism</h1></div>
        <div class="garfield-top-bars"></div>
        <div class="garfield-content-intro">
            <div class="garfield-intro-text"><p>Garfield County Tourism hired us to help make their brand message consistent. We replaced a lot of print with digital creatives that they had never used before. In 2014, they challenged us to create a campaign to help visitors stay longer in Garfield County. In response, we launched the Take Your Time campaign. Through this effort, the TRT increased by 15.8 percent in 2015 from 2014 and by 8 percent in 2016 from 2015.</p></div>
        </div>
        <div class="garfield-stats-container">
            <div class="garfield-stats-underlay"></div>
            <img class="garfield-stats-pic" src="../../images/work-assets/GarfieldStat.png">
        </div>
        <div class="garfield-work-title">
            <p>The Work</p>
        </div>

        <div class="garfield-work-pics">
            <p class="garfield-work-pic-title">Branding</p>
            <img class="garfield-work-image garfield-branding-image" src="../../images/work-assets/garfield-big.png">
        </div>
        <div class="garfield-work-pics">
            <p class="garfield-work-pic-title">Website Design</p>
            <img class="garfield-work-image" src="../../images/work-assets/garfield-site.png">
        </div>
        <div class="garfield-work-pics">
            <p class="garfield-work-pic-title">Digital Ads</p>
            <img class="garfield-work-image garfield-work-image-digital" src="../../images/work-assets/garfield-banner.png">
        </div>
        <div class="garfield-work-pics">
            <p class="garfield-work-pic-title">Brochures</p>
            <img class="garfield-work-image garfield-work-image-brochure" src="../../images/work-assets/garfield-brochure.png">
        </div>
        <div class="garfield-work-pics">
            <p class="garfield-work-pic-title">Poster</p>
            <img class="garfield-work-image garfield-work-image-brochure" src="../../images/work-assets/garfield-poster.png">
        </div>


    </div>

</div>

<div class="looking-for-help">

    <p>{{ctaText}}</p>

    <get-started-dir></get-started-dir>

</div>