<div class="main-container" id="brio-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Brio</h1>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="brio-work-pic-title">Branding</p>
            <img class="full-width-pic" src="../../images/work-assets/brio-branding.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Website Design</p>
            <img class="full-width-pic" src="../../images/work-assets/brio-site.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Brochure</p>
            <img class="full-width-pic" src="../../images/work-assets/brio-brochure.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/work-brio3.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Digital Adds</p>
            <img class="full-width-pic" src="../../images/work-assets/work-brio5.png">
        </div>
        <div class="page-content black-back">
            <img class="full-width-pic" src="../../images/work-assets/work-brio6.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

