<div class="newsroom-main-container">

    <img src="{{backgroundImage}}" class="newsroom-background" id="newsroom-background">

    <div class="newsroom-main-content">

        <div class="newsroom-content-title page-title">newsroom</div>
        <div class="newsroom-routes-container">
            <div class="routes-router">
                <div class="routes-underlay"></div>
                <div class="nr-routes-nav">
                    <div class="nr-route-nav" >
                        <img class="blue-triangle" src="../../images/blue-triangle.svg">
                        <p class="route-nav-title">Latest News</p>
                    </div>
                    <div class="nr-route-nav" >
                        <img class="blue-triangle" src="../../images/blue-triangle.svg">
                        <p class="route-nav-title">Press Releases</p>
                    </div>
                    <div class="nr-route-nav" >
                        <img class="blue-triangle" src="../../images/blue-triangle.svg">
                        <p class="route-nav-title">Awards</p>
                    </div>
                </div>
                <div class="nr-press-contact">
                    <div class="nr-press-contact-title">press contact</div>
                    <img class="nr-adam-pic" src="../../images/Hannah.png">
                    <div class="nr-adam-stoker">Hannah Lunt</div>
                    <button class="get-started-button" id="nr-press-call"><a href="mailto:formsend@relicagency.com">Email</a></button>
                    <button class="get-started-button" id="nr-press-email"><a href="tel:18015156292">Call</a></button>
                </div>
            </div>

            <div class="routes-route">

                <!--<div class="latest-mews-route a-route">-->

                <!--</div>-->

                <div class="press-releases-route a-route">

                    <div class="press-release">
                        <h3 class="press-release-title">Sorenson Advertising Becomes Relic</h3>
                            <p class="press-release-date">January 24, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">Adam Stoker, President and CEO of Relic, Receives Forty Under 40 Award</h3>
                        <p class="press-release-date">February 21, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">Utah ad agency sets its sights on Montana tourism</h3>
                        <p class="press-release-date">March 7, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">High school friends take different paths, end up as business partners</h3>
                            <p class="press-release-subtitle">Friends of almost 20 years, served in same mission, now own an advertising agency in Provo</p>
                        <p class="press-release-date">March 22, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">Relic Agency wins three Bronze Stevie® Awards in 2017 American Business Awards</h3>
                        <p class="press-release-date">May 4, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">Uintah County Office of Tourism, in Collaboration with Relic, Wins a Telly and Stevie Award for “Origin of Adventure” Video</h3>
                        <p class="press-release-date">May 5, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">#Stayward Campaign powers up Utah ad agency joins forces with Garrett Jones</h3>
                        <p class="press-release-date">May 10, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">Utah Valley Ad Agency, Relic, wins four Communicator Awards for tourism work</h3>
                            <p class="press-release-subtitle">The awards are for campaigns in collaboration with three Utah tourism offices</p>
                        <p class="press-release-date">May 15, 2017</p>
                    </div>
                    <div class="press-release">
                        <h3 class="press-release-title">The Forever Young Foundation partners with Relic to help children in need</h3>
                        <p class="press-release-date">October 13, 2017</p>
                    </div>

                </div>
                <!--<div class="awards-route a-route">-->

                <!--</div>-->

            </div>

        </div>

    </div>

</div>

<get-started-dir></get-started-dir>