<div class="uvhba-main-container" id="uvhba-main-container">
    <img src="{{backgroundImage}}" class="tech-background" id="tecch-background">
    <div class="page-main-content">
        <h1 class="page-title">Utah Valley Parade of Homes</h1>
        <div class="page-intro">
            <p class="intro-text">UVHBA hired us to help advertise their annual Parade of Homes in 2012. The Parade is their biggest revenue builder and attracted about 8,000 visitors. After a couple of years going strictly by the book, we convinced UVHBA to take a leap of faith in 2014 and truncate their budget into only 30 days. That year, ticket sales increased by 32 percent. In 2016, over 25,000 people came to the parade.</p>
        </div>
        <div class="page-content dark-back">
            <img class="full-width-pic" src="../../images/work-assets/uvhba-stats.png">
        </div>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Poster</p>
            <img class="full-width-pic" src="../../images/work-assets/uvhba-branding.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Digital Ads</p>
            <img class="full-width-pic" src="../../images/work-assets/uvhba-digital.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Golf Tournament Posters</p>
            <img class="full-width-pic" src="../../images/work-assets/uvhba-golf.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Billboard</p>
            <img class="full-width-pic" src="../../images/work-assets/uvhba-billboard.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

