<div class="main-container" id="tuac-main-container">
    <img src="{{backgroundImage}}" class="tuac-background" id="tuac-background">
    <div class="page-main-content">
        <h1 class="page-title">Tuacahn Amphitheatre</h1>
        <div class="page-intro">
            <div class="intro-text"><p>Tuacahn Amphitheatre hired us in 2013 for a small creative refresh. A couple months after that, they came back for a little more. We started doing their TV and radio buys later that year while acting as a consultant for other buys. The following year, in 2014, we took over their entire marketing budget. We now provide showstopping creative, digital, media and social media services for the popular venue.</p></div>
        </div>
        <div class="page-content dark-back">
            <img class="full-width-pic" src="../../images/work-assets/tuac-stats.png">
        </div>
        <p class="page-subtitle">The Work</p>
        <div class="page-content black-back">
            <p class="content-title">Website Design</p>
            <img class="full-width-pic" src="../../images/work-assets/tuac-site.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Digital Ads</p>
            <img class="full-width-pic full-width-pic-digital" src="../../images/work-assets/tuac-banners.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Posters</p>
            <img class="full-width-pic full-width-pic-brochure" src="../../images/work-assets/tuac-posters.png">
        </div>
        <div class="page-content black-back">
            <p class="content-title">Billboard</p>
            <img class="full-width-pic full-width-pic-brochure" src="../../images/work-assets/tuac-billboard.png">
        </div>
    </div>
    <div class="looking-for-help">
        <p>{{ctaText}}</p>
        <get-started-dir></get-started-dir>
    </div>
</div>

