<div class="main-container" id="services-main-container">
	<img src="{{backgroundImage}}" class="services-background" id="services-background">
	<div class="page-main-content">
		<h1 class="page-title">Services</h1>
		<div class="top-panel-area">
			<div class="top-panel" id="panel-0" ng-click="changeContent(0)">
				<img class="services-tile" src="../../images/traditional-tile.svg">
				<p>traditional media</p>
				<div class="panel-image-contain">
						<img class="down-arrow" id="arrow-0" src="../../images/down-arrow.svg">
				</div>
				<div class="services-top-overlay" id="overlay-0"></div>
			</div>
			<div class="top-panel" id="panel-1" ng-click="changeContent(1)">
				<img class="services-tile" src="../../images/creative-tile2.svg">
				<p>creative</p>
				<img class="down-arrow" id="arrow-1" src="../../images/down-arrow.svg">
				<div class="services-top-overlay" id="overlay-1"></div>
			</div>
			<div class="top-panel" id="panel-2" ng-click="changeContent(2)">
				<img class="services-tile" src="../../images/demand-gen-tile.svg">
				<p>demand gen</p>
				<img class="down-arrow" id="arrow-2" src="../../images/down-arrow.svg">
				<div class="services-top-overlay" id="overlay-2"></div>
			</div>
			<div class="top-panel" id="panel-3" ng-click="changeContent(3)">
				<img class="services-tile" src="../../images/digital-tile-sm.svg">
				<p>digital</p>
				<img class="down-arrow" id="arrow-3" src="../../images/down-arrow.svg">
				<div class="services-top-overlay" id="overlay-3"></div>
			</div>
			<div class="top-panel" id="panel-4" ng-click="changeContent(4)">
				<img class="services-tile" src="../../images/pr-acount.svg">
				<p>pr &amp; content</p>
				<img class="down-arrow" id="arrow-4" src="../../images/down-arrow.svg">
				<div class="services-top-overlay" id="overlay-4"></div>
			</div>
		</div>
		<div class="panel-content-area">
			<p class="panel-content-title">{{services[content].title}}</p>
			<p class="panel-content-info">{{services[content].intro}}</p>
		</div>

		<div class="services-accordion">
			<div ng-repeat="sec in services[content].sections" ng-click="checkForLink(sec)">
				<div class="services-accordion-section" ng-click="accordionPop(sec.number)">
					<h4>{{sec.title}}</h4>
					<img class="services-plus-sign" id="plus-sign-{{sec.number}}" src="../../images/plus-sign.svg">
				</div>
				<div class="services-accordion-pop" id="accordion-pop-{{sec.number}}">
					<div class="services-accordion-text">
						<p id="accordion-text-{{sec.number}}" ng-repeat="p in sec.info">{{p}}</p>
					</div>
				</div>
			</div>

		</div>


	</div>

	<div class="services-content-mobile" id="services-mobile">


		<a ng-click="scrollTo('content-mobile-content-one') ; servicesMobile('one', 145)">
			<div class="content-mobile-content" id="content-mobile-content-one">

				<img class="services-mobile-tile" src="../../images/traditional-tile.svg">

				<p class="services-mobile-title">traditional media</p>

				<img class="mobile-down-arrow" id="mobile-expand-arrow-one" src="../../images/down-arrow.svg">

			</div>
		</a>

		<div class="services-mobile-expand" id="services-mobile-expand-one">

			<p class="mobile-expand-intro">
				{{services[0].intro}}
			</p>


			<div class="mobile-inner-expand" id="mobile-inner-expand-one" ng-repeat="sec in services[0].sections" ng-click="mobileInnerExpand()">
				<h4>{{sec.title}}</h4>
				<img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
				<p class="mobile-services-info" ng-repeat="para in sec.info">{{para}}</p>
			</div>

		</div>

		<a ng-click="scrollTo('content-mobile-content-two') ; servicesMobile('two', 245)">
			<div class="content-mobile-content" id="content-mobile-content-two">
				<img class="services-mobile-tile" src="../../images/creative-tile2.svg">
				<p class="services-mobile-title">creative</p>
				<img class="mobile-down-arrow" id="mobile-expand-arrow-two" src="../../images/down-arrow.svg">

			</div>
		</a>

		<div class="services-mobile-expand" id="services-mobile-expand-two">
			<p class="mobile-expand-intro">
				{{services[1].intro}}
			</p>

			<div class="mobile-inner-expand" id="mobile-inner-expand-two" ng-repeat="sec in services[1].sections" ng-mouseenter="checkForLinkMobile(sec)">
				<h4>{{sec.title}}</h4>
				<img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
				<p class="mobile-services-info" id="accordion-text-mobile-{{sec.number}}" ng-repeat="para in sec.info">{{para}}</p>
			</div>
		</div>


		<a ng-click="scrollTo('content-mobile-content-three'); servicesMobile('three', 345)">
			<div class="content-mobile-content" id="content-mobile-content-three">
				<img class="services-mobile-tile" src="../../images/demand-gen-tile.svg">
				<p class="services-mobile-title">demand gen</p>
				<img class="mobile-down-arrow" id="mobile-expand-arrow-three" src="../../images/down-arrow.svg">
			</div>
		</a>

		<div class="services-mobile-expand" id="services-mobile-expand-three">

			<p class="mobile-expand-intro">
				{{services[2].intro}}
			</p>

			<div class="mobile-inner-expand" id="mobile-inner-expand-three" ng-repeat="sec in services[2].sections">
				<h4>{{sec.title}}</h4>
				<img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
				<p class="mobile-services-info" ng-repeat="para in sec.info">{{para}}</p>
			</div>
		</div>

		<a ng-click="scrollTo('content-mobile-content-four'); servicesMobile('four', 445)">
			<div class="content-mobile-content" id="content-mobile-content-four">
				<img class="services-mobile-tile" id="services-mobile-tile-digital" src="../../images/digital-tile.svg">
				<p class="services-mobile-title">digital</p>
				<img class="mobile-down-arrow" id="mobile-expand-arrow-four" src="../../images/down-arrow.svg">
			</div>
		</a>

		<div class="services-mobile-expand" id="services-mobile-expand-four">

			<p class="mobile-expand-intro">
				{{services[3].intro}}
			</p>

			<div class="mobile-inner-expand" id="mobile-inner-expand-four" ng-repeat="sec in services[3].sections">
				<h4>{{sec.title}}</h4>
				<img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
				<p class="mobile-services-info" ng-repeat="para in sec.info">{{para}}</p>
			</div>
		</div>

		<a ng-click="scrollTo('content-mobile-content-five'); servicesMobile('five', 545)">
			<div class="content-mobile-content" id="content-mobile-content-five">
				<img class="services-mobile-tile" src="../../images/pr-acount.svg">
				<p class="services-mobile-title">pr & content</p>
				<img class="mobile-down-arrow" id="mobile-expand-arrow-five" src="../../images/down-arrow.svg">
			</div>
		</a>

		<div class="services-mobile-expand" id="services-mobile-expand-five">

			<p class="mobile-expand-intro">
				{{services[4].intro}}
			</p>

			<div class="mobile-inner-expand" id="mobile-inner-expand-six" ng-repeat="sec in services[4].sections">
				<h4>{{sec.title}}</h4>
				<img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
				<p class="mobile-services-info" ng-repeat="para in sec.info">{{para}}</p>
			</div>
		</div>
    <div class="cta-section">
			<p>Looking for advertising help?</p>
			<get-started-dir></get-started-dir>
		</div>
	</div>
</div>