<div class="services-main-container" id="services-main-container">

        <img src="{{backgroundImage}}" class="services-background" id="services-background" >

    <div class="services-main-content-container">

        <div class="services-main-title">services</div>


                <div class="services-content-top">
                    <div class="services-top-services" id="top-services-one" ng-mouseover="hoverContent('one')" ng-click="changeContent(0, 'one')">
                        <img class="services-tile" id="services-tile-one" src="../../images/traditional-tile.svg">
                        <p>traditional media</p>
                        <img class="down-arrow" src="../../images/down-arrow.svg">
                        <div class="services-top-overlay" id="services-top-overlay-one"></div>
                    </div>
                    <div class="services-top-services" id="top-services-two" ng-mouseover="hoverContent('two')" ng-click="changeContent(1, 'two')">
                        <img class="services-tile" id="services-tile-two" src="../../images/creative-tile2.svg">
                        <p>creative</p>
                        <img class="down-arrow" src="../../images/down-arrow.svg">
                        <div class="services-top-overlay" id="services-top-overlay-two"></div>
                    </div>
                    <div class="services-top-services" id="top-services-three" ng-mouseover="hoverContent('three')" ng-click="changeContent(2, 'three')">
                        <img class="services-tile" id="services-tile-three" src="../../images/demand-gen-tile.svg">
                        <p>demand gen</p>
                        <img class="down-arrow" src="../../images/down-arrow.svg">
                        <div class="services-top-overlay" id="services-top-overlay-three"></div>
                    </div>
                    <div class="services-top-services" id="top-services-four" ng-mouseover="hoverContent('four')" ng-click="changeContent(3, 'four')">
                        <img class="services-tile" id="services-tile-four" src="../../images/digital-tile.svg">
                        <p>digital</p>
                        <img class="down-arrow" src="../../images/down-arrow.svg">
                        <div class="services-top-overlay" id="services-top-overlay-four"></div>
                    </div>
                    <div class="services-top-services" id="top-services-five" ng-mouseover="hoverContent('five')" ng-click="changeContent(4, 'five')">
                        <img class="services-tile" id="services-tile-five" src="../../images/pr-acount.svg">
                        <p>pr & content</p>
                        <img class="down-arrow" src="../../images/down-arrow.svg">
                        <div class="services-top-overlay" id="services-top-overlay-five"></div>
                    </div>
                </div>
                <div class="services-content-middle">
                        <div class="content-two-top">
                            <div class="top-two-sec" id="top-two-sec-one"></div>
                            <div class="top-two-sec" id="top-two-sec-two"></div>
                            <div class="top-two-sec" id="top-two-sec-three"></div>
                            <div class="top-two-sec" id="top-two-sec-four"></div>
                            <div class="top-two-sec" id="top-two-sec-five"></div>
                        </div>

                    <div class="services-content-title"><p>{{services[content].title}}</p></div>

                    <div class="service-content-info"><p>{{services[content].intro}}</p></div>

                </div>

        <div class="services-accordion">

            <div ng-repeat="sec in services[content].sections">
                <div class="services-accordion-section" ng-click="accordionPop(sec.number)">
                    <p>{{sec.title}}</p>
                    <img class="services-plus-sign" id="plus-sign-{{sec.number}}" src="../../images/plus-sign.svg">
                </div>
                <div class="services-accordion-pop" id="accordion-pop-{{sec.number}}">
                    <div class="services-accordion-text"><p ng-repeat="p in sec.info">{{p}}<br ng-repeat="p in sec.info"></div></p>
                </div>
            </div>

        </div>


    </div>

    <div class="services-content-mobile" id="services-mobile">


        <a ng-click="scrollTo('content-mobile-content-one') ; servicesMobile('one', 145)">
            <div class="content-mobile-content" id="content-mobile-content-one">


               <img class="services-mobile-tile" src="../../images/traditional-tile.svg">


           <p class="services-mobile-title">traditional media</p>

           <img class="mobile-down-arrow" id="mobile-expand-arrow-one" src="../../images/down-arrow.svg">

        </div>
        </a>

        <div class="services-mobile-expand" id="services-mobile-expand-one">

            <p class="mobile-expand-intro">
                {{services[0].intro}}
            </p>


            <div class="mobile-inner-expand" id="mobile-inner-expand-one" ng-repeat="sec in services[0].sections" ng-click="mobileInnerExpand()">
                <p>{{sec.title}}</p>
                <img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
            </div>

        </div>

        <a ng-click="scrollTo('content-mobile-content-two') ; servicesMobile('two', 245)">
            <div class="content-mobile-content"  id="content-mobile-content-two">
           <img class="services-mobile-tile" src="../../images/creative-tile2.svg">
            <p class="services-mobile-title">creative</p>
           <img class="mobile-down-arrow" id="mobile-expand-arrow-two" src="../../images/down-arrow.svg">

        </div>
        </a>

        <div class="services-mobile-expand" id="services-mobile-expand-two">
            <p class="mobile-expand-intro">
                {{services[1].intro}}
            </p>

            <div class="mobile-inner-expand" id="mobile-inner-expand-two" ng-repeat="sec in services[1].sections">
                <p>{{sec.title}}</p>
                <img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
            </div>
        </div>


        <a ng-click="scrollTo('content-mobile-content-three'); servicesMobile('three', 345)">
            <div class="content-mobile-content" id="content-mobile-content-three">
           <img class="services-mobile-tile" src="../../images/demand-gen-tile.svg" >
            <p class="services-mobile-title">demand gen</p>
            <img class="mobile-down-arrow" id="mobile-expand-arrow-three" src="../../images/down-arrow.svg">
             </div>
        </a>

        <div class="services-mobile-expand" id="services-mobile-expand-three">

            <p class="mobile-expand-intro">
                {{services[2].intro}}
            </p>

            <div class="mobile-inner-expand" id="mobile-inner-expand-three" ng-repeat="sec in services[2].sections">
                <p>{{sec.title}}</p>
                <img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
            </div>
        </div>

        <a ng-click="scrollTo('content-mobile-content-four'); servicesMobile('four', 445)">
            <div class="content-mobile-content" id="content-mobile-content-four">
            <img class="services-mobile-tile" id="services-mobile-tile-digital" src="../../images/digital-tile.svg">
            <p class="services-mobile-title">digital</p>
            <img class="mobile-down-arrow" id="mobile-expand-arrow-four" src="../../images/down-arrow.svg">
        </div>
        </a>

        <div class="services-mobile-expand" id="services-mobile-expand-four">

            <p class="mobile-expand-intro">
                {{services[3].intro}}
            </p>

            <div class="mobile-inner-expand" id="mobile-inner-expand-four" ng-repeat="sec in services[3].sections">
                <p>{{sec.title}}</p>
                <img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
            </div>
        </div>

        <a ng-click="scrollTo('content-mobile-content-five'); servicesMobile('five', 545)">
            <div class="content-mobile-content" id="content-mobile-content-five">
            <img class="services-mobile-tile" src="../../images/pr-acount.svg">
            <p class="services-mobile-title">pr & content</p>
            <img class="mobile-down-arrow" id="mobile-expand-arrow-five" src="../../images/down-arrow.svg">
        </div>
        </a>

        <div class="services-mobile-expand" id="services-mobile-expand-five">

            <p class="mobile-expand-intro">
                {{services[4].intro}}
            </p>

            <div class="mobile-inner-expand" id="mobile-inner-expand-six" ng-repeat="sec in services[4].sections">
                <p>{{sec.title}}</p>
                <img class="services-plus-sign" id="mobile-plus-sign-{{sec.title}}-{{sec.number}}" src="../../images/plus-sign.svg">
            </div>
        </div>

    </div>





</div>

<get-started-dir></get-started-dir>
